@page "/admin/theater"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Admin - Theater";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Theater.TheaterModel


@* <div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1 value="">Theaters (@Model.Theaters.Count())</h1>
<a href="/admin/theater/add">Add</a>
<a href="/Admin">Admin</a>

<div class="flex flex-col gap-4 text-left">
@foreach (var theater in Model.Theaters)
{
<div class="flex gap-3">
<a href=@($"/admin/theater/{theater.Id}/edit" )>@theater.Name</a>
<form method="post">
<input type="hidden" name="Id" value="@theater.Id" />
<button asp-page-handler="Delete" style="color: red">Delete</button>
</form>
<a href=@($"/admin/room/{theater.Id}" ) style="color: yellow">Room</a>
</div>
}
</div>
</div> *@

<head>
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div class="flex h-screen">
   <div class="w-3/4 bg-white">
      <div class="p-10">
         <div class="flex justify-between mb-6">
            <div class="text-lg font-bold text-black ">Danh sách rạp phim</div>
            <div class=" flex mt-4">
               <a href="/admin/theater/add" class="text-red-500 flex items-center mr-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                     class="h-6 w-6">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                  <span class="ml-1 text-red-500">Thêm rạp</span>
               </a>
            </div>
         </div>
         <table class="w-full">
            <thead>
               <tr>
                  <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">ID</th>
                  <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black"">Tên rạp</th>
                  <th class=" border border-gray-300 bg-gray-200 px-4 py-2 text-black"">Địa chỉ</th>
                  <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black"">Số phòng</th>
                  <th class=" border border-gray-300 bg-gray-200 px-4 py-2 text-black"">Ảnh rạp</th>
                  <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black"">Sửa</th>
                  <th class=" border border-gray-300 bg-gray-200 px-4 py-2 text-black"">Xóa</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="border border-gray-300 px-4 py-2 text-black"">1</td>
                  <td class=" border border-gray-300 px-4 py-2 text-black"">Cinestar Hai Bà Trưng</td>
                  <td class="border border-gray-300 px-4 py-2 text-black"">123 Hai Bà Trưng, Quận 1, TP.HCM</td>
                  <td class=" border border-gray-300 px-4 py-2 text-black"">5</td>
                  <td class="border border-gray-300 px-4 py-2 text-black""><img src=" link_to_image.jpg" alt="Ảnh rạp"
                     class="max-w-full"></td>
                  <td class="border border-gray-300 px-4 py-2">
                     <button onclick="editCinema(1)"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Sửa</button>
                  </td>
                  <td class="border border-gray-300 px-4 py-2">
                     <button onclick="deleteCinema(1)"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Xóa</button>
                  </td>
               </tr>
               <!-- Repeat similar rows for other cinemas -->
            </tbody>
         </table>
      </div>
   </div>
   <div class="bg-[#35355c] w-[25%] h-[600px] flex flex-col items-center">
      <div class="w-1/2 p-2 mx-auto">
         <img class="w-full" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
      </div>
      <div class="w-3/4 mx-auto">
         <ul class=" list-none p-0">
            <li class="p-5"><a href="" class="text-white">Tổng quan</a></li>
            <li class="p-5"><a href="/Management" class="text-white">Quản lý phim</a></li>
            <li class="p-5"><a href="/TheaterAdd" class="text-white">Quản lý xuất chiếu</a></li>
            <li class="p-5"><a href="/ticket" class="text-white">Quản lý vé</a></li>
            <li class="p-5"><a href="/customer" class="text-white">Quản lý khách hàng</a></li>
            <li class="p-5"><a href="/cinema" class="text-white">Quản lý rạp phim</a></li>
         </ul>
      </div>
   </div>
</div>
