@page "/admin/theater"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Admin - Theater";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Theater.TheaterModel


<div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
   <h1 value="">Theaters (@Model.Theaters.Count())</h1>
   <a href="/admin/theater/add">Add</a>
   <a href="/Admin">Admin</a>

   <div class="flex flex-col gap-4 text-left">
      @foreach (var theater in Model.Theaters)
      {
         <div class="flex gap-3">
            <a href=@($"/admin/theater/{theater.Id}/edit" )>@theater.Name</a>
            <form method="post">
               <input type="hidden" name="Id" value="@theater.Id" />
               <button asp-page-handler="Delete" style="color: red">Delete</button>
            </form>
            <a href=@($"/admin/room/{theater.Id}" ) style="color: yellow">Room</a>
         </div>
      }
   </div>
</div>
