@{
    ViewData["Title"] = "Change Password";
}
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="~/css/changepassword.css">
<body>
    <div class="container" >
        <h1>QUÊN MẬT KHẨU</h1>
        <p>Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn <br>  hướng dẫn để tạo mật khẩu mới</p>
        <form>
            <input type="email" placeholder="Email" required>
            <button type="submit">GỬI MÃ XÁC MINH</button>
        </form>
    </div>
</body>
</html>

