@{
    ViewData["Title"] = "Account Profile";
}
<link rel="stylesheet" href="~/css/AccountInfo.css">




<div class="prof ht">
  <div class="container">
    <div class="prof-wr">
      <div class="prof-row row">
                <div class="side-bar col col-2">
          <div class="acc-sbar">
            <div class="acc-sbar-block">
              <div class="about-user">
                <div class="ava">
                  <img class="rounded-[100%]" src="https://cinestar.monamedia.net/assets/images/ic-header-auth.svg" alt="">
                </div>
                <div class="info">
                  <p class="name">Trần Lê Thi</p>
                  <div>
                    <div class="popup popup-noti  ">
                      <div class="popup-overlay"></div>
                      <div class="popup-main">
                        <div class="popup-main-wrapper">
                          <div class="popup-over">
                            <div class="popup-wrapper">
                              <div class="popup-noti-wr">
                                <div class="popup-noti-ctr">
                                  <div class="btn btn--outline">
                                    <span class="txt">OK</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="popup-close popupClose">
                          <i class="fas fa-times icon"></i>
                        </div>
                      </div>
                    </div>
                    <label class="about-user-action" for="avatarInput">Thay đổi ảnh đại diện</label>
                    <input type="file" id="avatarInput" accept="image/*" style="display: none;">
                  </div>
                </div>
              </div>
              <div class="about-user-lv">C'Friends</div>
              <div class="acc-points">
                <div class="ct">
                  <span class="tt">Tích điểm <span style="color: rgb(243, 234, 40);"> C'Friends</span>
                  </span>
                </div>
                <div class="block-bar">
                  <div class="curr-bar" style="width: 0%;"></div>
                </div>
                <span class="point">
                  <span class="poin-current">0</span>
                  <span class="dot">/</span>
                  <span class="poin-total">10K</span>
                </span>
              </div>
            </div>
            <div class="acc-sbar-block">
              <div class="acc-menu">
                <div class="acc-menu-slider">
                  <div class="swiper-container">
                    <div class="swiper rows">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide col active">
                          <a class="acc-menu-link" href="/account/account-profile/">
                            <img src="~/images/ic-user-circle.png" alt="">
                            <span class="txt">Thông tin khách hàng</span>
                          </a>
                        </div>
                        <div class="swiper-slide col">
                          <a class="acc-menu-link" href="/account/account-member/">
                            <img src="~/images/acc-menu-2.png" alt="">
                            <span class="txt">Thành viên Cinestar</span>
                          </a>
                        </div>
                        <div class="swiper-slide col">
                          <a class="acc-menu-link" href="/account/account-history/">
                            <img src="~/images/acc-menu-3.png" alt="">
                            <span class="txt">Lịch sử mua hàng</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="acc-sbar-block">
              <div class="act-logout">
                <a class="logout" href="">
                  <span class="ic">
                    <img src="~/images/ic-logout.png" alt="">
                  </span>
                  <span class="txt">Đăng xuất</span>
                </a>
              </div>
            </div>
          </div>
          <div class="popup popup-logout">
            <div class="popup-overlay"></div>
            <div class="popup-main">
              <div class="popup-main-wrapper">
                <div class="popup-over">
                  <div class="popup-wrapper">
                    <div class="popup-logout-wr">
                      <p class="popup-logout-title">Bạn có chắc chắn đăng xuất khỏi CINESTAR chứ ?</p>
                      <div class="popup-logout-ctr">
                        <button class="btn btn--pri">
                          <span class="txt">ĐĂNG XUẤT</span>
                        </button>
                        <button class="btn btn--outline">
                          <span class="txt">HUỶ</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="popup-close popupClose">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="prof-main col col-10">
          <div class="sec-heading" data-aos="fade-up">
            <h2 class="heading">Thông tin khách hàng</h2>
          </div>
          <div class="acc-prf">
            <div class="">
              <div class="">
                <div class="acc-prf-block">
                  <p class="acc-prf-block-title">Thông tin cá nhân</p>
                  <div class="acc-prf-form re-form">
                    <form>
                      <div class="f-list row">
                        <div class="f-item col col-6">
                          <label for="" class="re-label">Họ và tên</label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="text" required="">
                          </div>
                        </div>
                        <div class="f-item col col-6">
                          <label for="" class="re-label">Ngày sinh</label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="date" required="" style="padding: 1.3rem 1.4rem;">
                          </div>
                        </div>
                        <div class="f-item col col-6">
                          <label for="" class="re-label">Số điện thoại</label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="tel" required="">
                          </div>
                        </div>
                        <div class="f-item col col-6">
                          <label for="" class="re-label">Email</label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="email" required="">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn --gray --m-top">
                        <span class="txt">Lưu thông tin</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="hidden">
                <div class="w-[50px] h-[50px]">
                  <div class="lding !bg-[inherit]">
                    <div class="lding-wr">
                      <div class="lding-box">
                        <div class="inner"></div>
                      </div>
                      <div class="lding-line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="">
                <div class="acc-prf-block mt-[23px]">
                  <p class="acc-prf-block-title">Đổi mật khẩu</p>
                  <div class="acc-prf-form re-form">
                    <form>
                      <div class="f-list row">
                        <div class="f-item col">
                          <label for="" class="re-label">Mật khẩu cũ <span class="text-error">*</span>
                          </label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="password" required="">
                          </div>
                        </div>
                        <div class="f-item col">
                          <label for="" class="re-label">Mật khẩu mới <span class="text-error">*</span>
                          </label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="password" required="">
                          </div>
                        </div>
                        <div class="f-item col">
                          <label for="" class="re-label">Xác thực mật khẩu <span class="text-error">*</span>
                          </label>
                          <div class="w-full relative mb-input undefined">
                            <input class="re-input " type="password" required="">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn --gray --m-top">
                        <span class="txt">Đổi mật khẩu</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="hidden">
                <div class="w-[50px] h-[50px]">
                  <div class="lding !bg-[inherit]">
                    <div class="lding-wr">
                      <div class="lding-box">
                        <div class="inner"></div>
                      </div>
                      <div class="lding-line"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>