<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - the_movie_hub</title>
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/the_movie_hub.styles.css" asp-append-version="true" />
</head>

<body class="bg-black text-white m-0">
    <header
        class="h-[72px] flex items-center fixed top-0 left-0 w-full bg-slate-200 text-dark rounded-b-lg shadow-lg px-21">
        Header
    </header>

    <main role="main" class="mt-[72px] px-21 min-h-screen">
        <div class="mx-1200 mx-auto"> @RenderBody()</div>
    </main>

    <footer class="w-full bg-slate-200 text-dark rounded-t-lg px-21 min-h-[100px]">
        Footer
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
