<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - the_movie_hub</title>
    <link rel="stylesheet" href="~/the_movie_hub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body class="bg-black text-white m-0">
    <!-- Header -->
    <partial name="../../Partials/Header.cshtml" />


    @* Main *@
    <main role="main" class="mt-[72px]  min-h-screen" style="width: 100%;">
        @RenderBody()
    </main>


    <!-- Footer -->
    <partial name="../../Partials/Footer.cshtml" />


    @* Scripts *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/header.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
