@page "/admin/user"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin - User";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.User.UserModel;

@* <div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1 value="">Users (@Model.Users.Count())</h1>
<a href="/Admin">Admin</a>

<div class="flex flex-col gap-4 text-left">
@foreach (var user in Model.Users)
{
<div class="flex gap-3">
<div class="flex gap-2">
<span>@user.FullName</span> -
<span>@user.Username</span> -
</div>

<form method="post">
<input type="hidden" name="Id" value="@user.Id" />
<button asp-page-handler="Delete" style="color: red">Delete</button>
</form>
</div>
}
</div>
</div> *@
<div class="flex h-screen">
    <div class="w-3/4 bg-white">
        <div class="p-10">
            <div class="flex justify-between mb-6">

                <div class=" flex mt-4">

                </div>
            </div>

            <div class="container mx-auto mt-8 text-black">
                <h2 class="text-2xl font-bold mb-6">Danh sách người dùng</h2>
                <table class="min-w-full bg-white border border-gray-300">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border border-gray-300">ID</th>
                            <th class="py-2 px-4 border border-gray-300">Tên người dùng</th>
                            <th class="py-2 px-4 border border-gray-300">Ngày sinh</th>
                            <th class="py-2 px-4 border border-gray-300">Số điện thoại</th>
                            <th class="py-2 px-4 border border-gray-300">CCCD</th>
                            <th class="py-2 px-4 border border-gray-300">Email</th>
                        </tr>
                    </thead>
                    <tbody class="w-full">
                        <tr>
                            <td class="py-2 px-4 text-center border border-gray-300">1</td>
                            <td class="py-2 px-4 text-center border border-gray-300">Nguyễn Văn A</td>
                            <td class="py-2 px-4 text-center border border-gray-300">01/01/1990</td>
                            <td class="py-2 px-4 text-center border border-gray-300">0901234567</td>
                            <td class="py-2 px-4 text-center border border-gray-300">123456789012</td>
                            <td class="py-2 px-4 text-center border border-gray-300">nguyenvana@example.com</td>
                        </tr>
                        <tr>
                            <td class="py-2 px-4 text-center border border-gray-300">2</td>
                            <td class="py-2 px-4 text-center border border-gray-300">Trần Thị B</td>
                            <td class="py-2 px-4 text-center border border-gray-300">02/02/1992</td>
                            <td class="py-2 px-4 text-center border border-gray-300">0912345678</td>
                            <td class="py-2 px-4 text-center border border-gray-300">234567890123</td>
                            <td class="py-2 px-4 text-center border border-gray-300">tranthib@example.com</td>
                        </tr>
                        <!-- Thêm các hàng người dùng khác ở đây -->
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="bg-[#35355c] w-[25%] h-screen flex flex-col items-center">
        <div class="w-1/2 p-2 mx-auto">
            <img class="w-full" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
        </div>
        <div class="w-3/4 mx-auto">
            <ul class=" list-none p-0">
                <li class="p-5"><a href="" class="text-white">Tổng quan</a></li>
                <li class="p-5"><a href="/Management" class="text-white">Quản lý phim</a></li>
                <li class="p-5"><a href="/TheaterAdd" class="text-white">Quản lý xuất chiếu</a></li>
                <li class="p-5"><a href="/ticket" class="text-white">Quản lý vé</a></li>
                <li class="p-5"><a href="/customer" class="text-white">Quản lý khách hàng</a></li>
                <li class="p-5"><a href="/cinema" class="text-white">Quản lý rạp phim</a></li>
            </ul>
        </div>
    </div>
</div>
