@page "/admin/screening"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin - Screening";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<link rel="stylesheet" href="~/Css/export.css">
<style>

</style>
<div class="Export_Movie">
    <div class="Export__table">
        <div class="Export_All_table_title">
            <span>Quản lý xuất chiếu</span>
        </div>
        <span></span>
        <div class="Export_All_table_Listadd">
            <div class="Export_Add_Movie" id="addMovieBtn">
                <div class="Export_Add_Movie_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:80%" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </div>
                <div class="Export_Add_Movie_text">
                    <span id="addShowButton">Thêm xuất chiếu</span>
                </div>
                <div id="showForm">
                    <span class="close-btn" id="closeBtn">&times;</span>
                    <form action="ShowForm-ticket" method="POST">
                        <div style="display: flex;gap:47px;">
                            <label for="movie">Chọn phim:</label>
                            <select name="movie" id="movieSelect"
                                style="border: 1px solid #000;width:25%;border-radius:5px">
                                <option value="phim1">Lật mặt 7 :1 Điều Uớc</option>
                                <option value="phim2">Gia tài của ngoại 2D PD (T13)</option>
                            </select>
                        </div>
                        <div style="display: flex;gap:20px;margin-top:20px">
                            <label for="cinema">Chọn rạp phim:</label>
                            <select id="cinemaSelect" name="cinemaSelect"
                                style="border: 1px solid #000;width:25%;height:30px">
                                <option value="">Cinestar Quốc Khánh</option>
                                <option value="">Cinestar Hai Bà Trưng</option>
                                <option value="">Cinestar Huế</option>
                                <option value="">Cinestar Đà Lạt</option>
                                <option value="">Cinestar Lâm Đồng</option>
                                <option value="">Cinestar Mỹ Tho</option>
                                <option value="">Cinestar Kiên Giang</option>
                            </select>
                        </div>
                        <div style="display: flex;gap:20px;margin-top:20px">
                            <label for="time">Chọn thời gian:</label>
                            <input type="datetime-local" style="width: 25%;height:30px;border: 1px solid #000;"
                                id="timeSelect" name="timeSelect">
                        </div>
                        <div style="display: flex;margin-top:20px;gap:40px">
                            <label for="room">Chọn phòng:</label>
                            <select name="room" id="roomSelect"
                                style="border: 1px solid #000;width:25%;border-radius:5px">
                                <option value="phong1">Phòng 1</option>
                                <option value="phong2">Phòng 2</option>
                                <option value="phong2">Phòng 3</option>
                                <option value="phong2">Phòng 4</option>
                                <option value="phong2">Phòng 5</option>
                                <option value="phong2">Phòng 6</option>
                            </select>
                        </div>

                        <input style="width: 10%;color:red;border-radius:5px" type="submit" value="Xác nhận">
                    </form>
                </div>
            </div>
            <div class="Export_Choose_Movie">
                <select id="movieGenreSelect" name="movieGenreSelect">
                    <option value="">Cinestar Quốc Khánh</option>
                    <option value="">Cinestar Hai Bà Trưng</option>
                    <option value="">Cinestar Huế</option>
                    <option value="">Cinestar Đà Lạt</option>
                    <option value="">Cinestar Lâm Đồng</option>
                    <option value="">Cinestar Mỹ Tho</option>
                    <option value="">Cinestar Kiên Giang</option>
                </select>
            </div>
        </div>
        <div class="movie clearfix" style="width: 100%;">
            <img style="width: 15%;"
                src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F04-2024%2Fposter-lat-mat-7.jpg&w=1920&q=75"
                alt="Lật Mặt 7: Một Điều Ước" width="100">
            <h2>Lật Mặt 7: Một Điều Ước (K)</h2>
            <div class="times">
                <div style="color: #000;">
                    <h3>Phòng 1:</h3>
                    <span style=" border: 1px solid #000;">7:00</span>
                    <span style=" border: 1px solid #000;">9:30</span>
                    <span style=" border: 1px solid #000;">12:00</span>
                    <span style=" border: 1px solid #000;">14:30</span>
                    <span style=" border: 1px solid #000;">17:00</span>
                    <span style=" border: 1px solid #000;">19:30</span>
                    <span style=" border: 1px solid #000;">22:00</span>
                </div>
                <div style="color: #000;">
                    <h3>Phòng 2:</h3>
                    <span style=" border: 1px solid #000;">7:30</span>
                    <span style=" border: 1px solid #000;">10:00</span>
                    <span style=" border: 1px solid #000;">12:30</span>
                    <span style=" border: 1px solid #000;">15:00</span>
                    <span style=" border: 1px solid #000;">17:30</span>
                    <span style=" border: 1px solid #000;">20:00</span>
                    <span style=" border: 1px solid #000;">22:30</span>
                </div>
            </div>
        </div>

        <div class="movie clearfix">
            <img style="width: 15%;"
                src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fgia-tai-cua-ngoai-sneakshow.jpg&w=1920&q=75"
                alt="Gia tài của ngoại" width="100">
            <h2>Gia tài của ngoại 2D PD (T13)</h2>
            <div class="times">
                <div style=" color: #000;">
                    <h3>Phòng 3:</h3>
                    <span style=" border: 1px solid #000;">7:00</span>
                    <span style=" border: 1px solid #000;">9:30</span>
                    <span style=" border: 1px solid #000;">12:00</span>
                    <span style=" border: 1px solid #000;">14:30</span>
                    <span style=" border: 1px solid #000;">17:00</span>
                    <span style=" border: 1px solid #000;">19:30</span>
                    <span style=" border: 1px solid #000;">22:00</span>
                </div>
                <div style="color: #000;">
                    <h3>Phòng 6:</h3>
                    <span style=" border: 1px solid #000;">7:30</span>
                    <span style=" border: 1px solid #000;">10:00</span>
                    <span style=" border: 1px solid #000;">12:30</span>
                    <span style=" border: 1px solid #000;">15:00</span>
                    <span style=" border: 1px solid #000;">17:30</span>
                    <span style=" border: 1px solid #000;">20:00</span>
                    <span style=" border: 1px solid #000;">22:30</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#35355c] w-[25%] h-[730px] flex flex-col items-center">
        <div class="w-1/2 p-1 mx-auto">
            <img class="w-full" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
        </div>
        <div class="w-3/4  mx-auto">
            <ul class=" list-none p-0">
                <li class="p-4"><a href="" class="text-white">Tổng quan</a></li>
                <li class="p-4"><a href="/Admin/movie" class="text-white">Quản lý phim</a></li>
                <li class="p-4"><a href="/Admin/genre" class="text-white">Quản lý thể loại </a></li>
                <li class="p-4"><a href="/admin/screening" class="text-white">Quản lý xuất chiếu</a></li>
                <li class="p-4"><a href="/Admin/ticket" class="text-white">Quản lý vé</a></li>
                <li class="p-4"><a href="/admin/seat/{roomId}" class="text-white">Quản lý chổ ngồi</a></li>
                <li class="p-4"><a href="/admin/room/{theaterId}" class="text-white">Quản lý phòng chiếu</a></li>
                <li class="p-4"><a href="/Admin/user" class="text-white">Quản lý khách hàng</a></li>
                <li class="p-4"><a href="/Admin/theater" class="text-white">Quản lý rạp phim</a></li>

            </ul>
        </div>
    </div>
</div>
<script>
    document.getElementById("addShowButton").addEventListener("click", function () {
        document.getElementById("showForm").style.display = "block";
    });
    document.getElementById("closeBtn").addEventListener("click", function () {
        document.getElementById("showForm").style.display = "none";
    });
</script>
