@page "/admin/genre/{id}/edit"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Add Genre";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Genre.EditGenreModel

<div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
   <h1 value="">Edit Genre</h1>
   <a href="/admin/genre">Genres</a>

   <form action="" method="post" enctype="multipart/form-data" class="text-dark flex flex-col items-center gap-3">
      <input class="w-full max-w-[500px] px-2" required value=@Model.Genre?.Title type="text" name="Title"
         placeholder="Title..." autofocus>

      <button class="bg-white px-2 py-1">
         Submit
      </button>
   </form>


</div>