@page "/register"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Auth.Register.RegisterModel

<link rel="stylesheet" href="~/css/login.css" />

<div class="account-container w-[50%] mx-auto">
    <div class="Account" style="display: flex;">
        <a href='/login' id="login-tab" style="margin: auto; cursor: pointer;">
            <h2>ĐĂNG NHẬP</h2>
        </a>
        <a href='/register' id="register-tab" style="margin: auto; cursor: pointer;">
            <h2>ĐĂNG KÍ</h2>
        </a>
    </div>

    <div id="register-form">

        <form method="post">
            <div class="form-group">
                <label for="register-username">Họ và Tên</label>
                <input type="text" id="register-username" name="FullName" required placeholder="Nhập họ và tên">
            </div>
            <div class="form-group">
                <label for="register-birthdate">Ngày sinh</label>
                <input type="date" id="register-birthdate" name="BirthDay" required>
            </div>
            <div class="form-group">
                <label for="phone-number">Số điện thoại</label>
                <input type="number" id="phone-number" name="Phone" required placeholder="Số điện thoại">
            </div>
            <div class="form-group">
                <label for="name-user">Tên đăng nhâp</label>
                <input type="name" id="name-user" name="Username" required placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <label for="name-user">CCCD/CMND</label>
                <input type="id-user" id="id-user" name="CCCD" required placeholder="Số CCCD/CMND">
            </div>
            <div class="form-group">
                <label for="name-user">Email</label>
                <input type="id-user" id="id-user" name="Email" required placeholder="Điền email">
            </div>
            <div class="form-group">
                <label for="name-user">Mật khẩu</label>
                <input type="password" id="password" name="Password" required placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <label for="name-user">Xác thực mật khẩu</label>
                <input type="password" id="re-password" required placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <button type="submit">ĐĂNG KÍ</button>
            </div>
            <p class="login-text">Bạn đã có tài khoản?
                <a href="/login" class="login-link">
                    <span>Đăng nhập</span>
                </a>
            </p>
        </form>

    </div>
</div>