@page "/Admin/Movie/Add"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Add Movie";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Movie.AddMovieModel

@* <div class="text-center max-w-1200 mx-auto py-8 rounded-lg text-white bg-slate-700">
<h1>Add Movie</h1>
<a href="/admin/movie">Movies</a>
<a href="/Admin">Admin</a>

<form method="post" enctype="multipart/form-data" class="text-dark flex flex-col items-center gap-3">
<div class="flex flex-wrap gap-3 select-none">
@foreach (var genre in Model.Genres)
{
<div class="text-white">
<input id="@genre.Id" type="checkbox" name="SelectedGenres" value="@genre.Id" />
<label for="@genre.Id">@genre.Title</label>
</div>
}
</div>

<input class="w-full max-w-[500px] px-2" type="text" name="Title" placeholder="Title...">
<input class="w-full max-w-[500px] px-2" type="text" name="ReleaseDate" placeholder="Release Date...">
<textarea name="Content" placeholder="Content..." class="w-full max-w-[500px] px-2"></textarea>
<input class="w-full max-w-[500px] px-2" type="text" name="Director" placeholder="Director...">
<input class="w-full max-w-[500px] px-2" type="text" name="Actors" placeholder="Actors...">
<input class="w-full max-w-[500px] px-2" type="number" name="Duration" placeholder="Duration...">
<input class="w-full max-w-[500px] px-2" type="url" name="TrailerUrl" placeholder="Trailer Url...">
<input type="file" name="Banner" class="text-white" placeholder="asds" />
<input type="file" name="Image" class="text-white" />

<button class="bg-white px-2 py-1">
Submit
</button>
</form>
</div> *@

<head>
   <link rel="stylesheet" href="~/Css/addmovie.css">
</head>
<div class="Admin_vertical_all">
   <div class="Admin_toolbar">
      <div class="Admin_toolbar_title">
         <h1>ADMIN</h1>
      </div>
      <ul class="Admin_list_toolbar">
         <li class="Admin_list_toolbar_item">
            <div class="">
               <span id="Admin_overview" style="font-weight: bold;">Tổng
                  quan</span>
            </div>
            <ul id="Overview-hidden-1">
               <li>+ Doanh thu theo phim</li>
               <li>+ Doanh thu theo rạp</li>
            </ul>
         </li>
         <li class="Admin_list_toolbar_item">
            <span id="Admin_cinema" style="font-weight: bold;">Quản lý rạp phim</Span>
            <ul id="Overview-hidden-2">
               <a href="/admin/Theater/add">
                  <li>+ Thêm rạp </li>
               </a>
               <li>+ Danh sách rạp </li>
            </ul>
         </li>
         <li class=" Admin_list_toolbar_item">
            <span id="Admin_movie" style="font-weight: bold;">Quản lý phim</span>
            <ul id="Overview-hidden-3">
               <li>+ Thêm phim </li>
               <li>+ Danh sách phim </li>
            </ul>
         </li>
         <li class="Admin_list_toolbar_item">
            <span id="Admin_product" style="font-weight: bold;">Quản đơn hàng </span>
            <ul id="Overview-hidden-4">
               <li>+ Danh sách đơn hàng </li>
            </ul>
         </li>
         <li class="Admin_list_toolbar_item"><span id="Admin_Showtimes" style="font-weight: bold;"><a
                  href="/admin/adminproduct">Quản lý lịch
                  chiếu</a></span>
         </li>
         <li class="Admin_list_toolbar_item"><span id="Admin_Historytimes" style="font-weight: bold;"><a
                  href="/admin/admincustomer">Quản lý
                  xuất
                  chiếu</a></span>
         </li>
         <li class="Admin_list_toolbar_item"><span id="Admin_PriceTicket" style="font-weight: bold;"><a
                  href="/admin/admincustomer">Quản lý giá
                  vé</a></span>
         </li>
         <li class="Admin_list_toolbar_item"><span id="Admin_customer" style="font-weight: bold;"><a
                  href="/admin/admincustomer">Quản lý
                  user</a></span>
         </li>
         <li class="Admin_list_toolbar_item"><span id="Admin_Combowater" style="font-weight: bold;"><a
                  href="/admin/admincustomer">Quản lý combo
                  bắp nước</a></span>
         </li>


      </ul>
   </div>