@* Pusher *@
<div class="_pusher max-w-[250px] w-full trans-300" />

<div class="_sidebar trans-300 fixed right-0 h-screen w-full max-w-[250px] bg-neutral-800 flex flex-col p-21">
  <button
    class="_open-btn absolute top-0 left-0 -translate-x-full group p-2 rounded-l-md bg-yellow-500 hover:bg-dark-200">
    <svg class="fill-white group-hover:fill-yellow-500 trans-200" height="20px" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512">
      <path
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
    </svg>
  </button>

  <div class="w-[75%]">
    <img class="w-full" src="~/images/logo.jpg" alt="logo">
  </div>

  <div class="w-full mt-4">
    <ul class=" list-none p-0">
      <li class="px-4 py-2">
        <a href="/Admin" class="hover:text-yellow-400 trans-200">Tổng quan</a>
      </li>
      <li class="px-4 py-2">
        <a href="/Admin/Theater" class="hover:text-yellow-400 trans-200">Quản lý rạp phim</a>
      </li>
      <li class="px-4 py-2">
        <a href="/Admin/Movie" class="hover:text-yellow-400 trans-200">Quản lý phim</a>
      </li>
      <li class="px-4 py-2">
        <a href="/Admin/User" class="hover:text-yellow-400 trans-200">Quản lý người dùng</a>
      </li>
      <li class="px-4 py-2">
        <a href="/Admin/Genre" class="hover:text-yellow-400 trans-200">Quản lý thể loại</a>
      </li>
      <li class="px-4 py-2">
        <a href="/Admin/Screening" class="hover:text-yellow-400 trans-200">Quản lý xuất chiếu</a>
      </li>
      <li class="px-4 py-2">
        <a href="/Admin/Ticket" class="hover:text-yellow-400 trans-200">Quản lý vé</a>
      </li>
    </ul>
  </div>
</div>

<script>
  let open = true
  const openBtn = document.querySelector('._open-btn')

  openBtn.addEventListener('click', () => {
    if (open) {
      open = false
      document.querySelector('._pusher').classList.remove('max-w-[250px]')
      document.querySelector('._pusher').classList.add('max-w-0')

      document.querySelector('._sidebar').classList.add('translate-x-full')
    } else {
      open = true
      document.querySelector('._pusher').classList.remove('max-w-0')
      document.querySelector('._pusher').classList.add('max-w-[250px]')

      document.querySelector('._sidebar').classList.remove('translate-x-full')
    }
  })

</script>
