@page "/Admin/Theater/Add"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Add Theater";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Theater.AddTheaterModel

@* <div class="text-center max-w-1200 mx-auto py-8 rounded-lg text-white bg-slate-700">
<h1>Add Theater</h1>
<a href="/Admin/Theater">Theaters</a>

<form method="post" enctype="multipart/form-data" class="text-dark flex flex-col items-center gap-3">
<input class="w-full max-w-[500px] px-2" required type="text" name="Name" placeholder="Name...">
<input class="w-full max-w-[500px] px-2" required type="text" name="Address" placeholder="Addresss...">
<input class="w-full max-w-[500px] px-2" required type="number" name="RoomAmount" min="1" max="10"
placeholder="Room Amount...">
<input type="file" name="Image" class="text-white" />

<button class="bg-white px-2 py-1">
Submit
</button>
</form>
</div> *@

<head>
   <link rel="stylesheet" href="~/Css/theateradd.css">
</head>
<div class="TheaterAdd_vertical_all">
   <div class="TheaterAdd_toolbar"> 
      <div class="TheaterAdd_toolbar_title">
         <h1>TheaterAdd</h1>
      </div>
      <ul class="TheaterAdd_list_toolbar">
         <li class="TheaterAdd_list_toolbar_item">
            <div class="">
               <span id="TheaterAdd_overview" style="font-weight: bold;">Tổng quan</span>
            </div>
            <ul id="Overview-hidden-1">
               <li>+ Doanh thu theo phim</li>
               <li>+ Doanh thu theo rạp</li>
            </ul>
         </li>
         <li class="TheaterAdd_list_toolbar_item">
            <span id="TheaterAdd_cinema" style="font-weight: bold;">Quản lý rạp phim</span>
            <ul id="Overview-hidden-2">
               <a href="/admin/Theater/Add">
                  <li>+ Thêm rạp </li>
               </a>
               <li>+ Danh sách rạp </li>
            </ul>
         </li>
         <li class="TheaterAdd_list_toolbar_item">
            <span id="TheaterAdd_movie" style="font-weight: bold;">Quản lý phim</span>
            <ul id="Overview-hidden-3">
               <a href="/TheaterAdd/Movie/Add">
                  <li>+ Thêm phim </li>
               </a>
               <li>+ Danh sách phim </li>
            </ul>
         </li>
         <li class="TheaterAdd_list_toolbar_item">
            <span id="TheaterAdd_product" style="font-weight: bold;">Quản đơn hàng </span>
            <ul id="Overview-hidden-4">
               <li>+ Danh sách đơn hàng </li>
            </ul>
         </li>
         <li class="TheaterAdd_list_toolbar_item"><span id="TheaterAdd_Showtimes" style="font-weight: bold;"><a href="/TheaterAdd/TheaterAddproduct">Quản lý lịch chiếu</a></span></li>
         <li class="TheaterAdd_list_toolbar_item"><span id="TheaterAdd_Historytimes" style="font-weight: bold;"><a href="/TheaterAdd/TheaterAddcustomer">Quản lý xuất chiếu</a></span></li>
         <li class="TheaterAdd_list_toolbar_item"><span id="TheaterAdd_PriceTicket" style="font-weight: bold;"><a href="/TheaterAdd/TheaterAddcustomer">Quản lý giá vé</a></span></li>
         <li class="TheaterAdd_list_toolbar_item"><span id="TheaterAdd_customer" style="font-weight: bold;"><a href="/TheaterAdd/TheaterAddcustomer">Quản lý user</a></span></li>
         <li class="TheaterAdd_list_toolbar_item"><span id="TheaterAdd_Combowater" style="font-weight: bold;"><a href="/TheaterAdd/TheaterAddcustomer">Quản lý combo bắp nước</a></span></li>
      </ul>
   </div>
   <div class="TheaterAdd_List_Cinema">
      <div class="TheaterAdd_List_Cinema_nav" style="display: flex;gap:5px">
         <div class="TheaterAdd_List_Cinema_nav_icon">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#696565" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
         </div>
         <div class="TheaterAdd_List_Cinema_nav_title" style="color: #000;">
            <span style="color:#696565">Dashboar / sách rạp phim / </span>Cinestar Hai Bà Trưng
         </div>
      </div>
      <div class="TheaterAdd_List_Cinema_form" style="margin-top:20px;padding:10px">
         <div class="TheaterAdd_List_Cinema_form_left" style="display: flex;">
            <div class="form-container" style="color: #000;border:1px solid #000">
               <div class="TheaterAdd_List_Cinema_nav_button">
                  <div class="TheaterAdd_List_Cinema_nav_button-left">
                     <div class="Cinema_nav_button-left-back">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: #000;width:20px" viewBox=" 0 0 20 20" fill="currentColor" class="size-5">
                           <path fill-rule="evenodd" d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z" clip-rule="evenodd" />
                        </svg>
                        <span style="color: #000;">Quay lại</span>
                     </div>
                     <div class="Cinema_nav_button-left-update" style="">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: #000;width:20px" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                           <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z" clip-rule="evenodd" />
                        </svg>
                        <span style="color: #000;">Cập nhập </span>
                     </div>
                  </div>
               </div>
               <form id="infoForm" style="display: flex;gap:50px">
                  <div class="infoForm-left" style="width: 40%;">
                     <div class="form-group">
                        <label for="name-cinema">Tên rạp chiếu</label>
                        <input type="text" id="name" name="name" required>
                     </div>
                     <div class="form-group">
                        <label for="address">Địa chỉ </label>
                        <input type="text" id="address-cinema" name="address" required>
                     </div>
                     <div class="form-group">
                        <label for="address-map">Địa chỉ map</label>
                        <input type="text" id="addressmap" name="address-map" required>
                     </div>
                  </div>
                  <div class="infoForm-left-right" style="60%;margin-top:20px">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1004565.743168567!2d105.30113940396318!3d10.414828958120134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f366a781d37%3A0x1f5346650cf7ceb8!2sCinestar%20Hai%20B%C3%A0%20Tr%C6%B0ng!5e0!3m2!1svi!2s!4v1719069022698!5m2!1svi!2s" width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   document.getElementById('TheaterAdd_overview').addEventListener('click', function () {
      var overview = document.getElementById('Overview-hidden-1');
      overview.style.display = (overview.style.display === 'block') ? 'none' : 'block';
   });
   document.getElementById('TheaterAdd_cinema').addEventListener('click', function () {
      var overview = document.getElementById('Overview-hidden-2');
      overview.style.display = (overview.style.display === 'block') ? 'none' : 'block';
   });
   document.getElementById('TheaterAdd_movie').addEventListener('click', function () {
      var overview = document.getElementById('Overview-hidden-3');
      overview.style.display = (overview.style.display === 'block') ? 'none' : 'block';
   });
   document.getElementById('TheaterAdd_product').addEventListener('click', function () {
      var overview = document.getElementById('Overview-hidden-4');
      overview.style.display = (overview.style.display === 'block') ? 'none' : 'block';
   });
</script>
