@page "/Admin/Theater/Add"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Add Theater";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Theater.AddTheaterModel

@* <div class="text-center max-w-1200 mx-auto py-8 rounded-lg text-white bg-slate-700">
<h1>Add Theater</h1>
<a href="/Admin/Theater">Theaters</a>

<form method="post" enctype="multipart/form-data" class="text-dark flex flex-col items-center gap-3">
<input class="w-full max-w-[500px] px-2" required type="text" name="Name" placeholder="Name...">
<input class="w-full max-w-[500px] px-2" required type="text" name="Address" placeholder="Addresss...">
<input class="w-full max-w-[500px] px-2" required type="number" name="RoomAmount" min="1" max="10"
placeholder="Room Amount...">
<input type="file" name="Image" class="text-white" />

<button class="bg-white px-2 py-1">
Submit
</button>
</form>
</div> *@

<head>
   <link rel="stylesheet" href="~/Css/theateradd.css">

</head>
<div class="TheaterAdd_vertical_all">
   <div class="TheaterAdd_List_Cinema">
      <div class="TheaterAdd_List_Cinema_form" style="margin-top:20px;padding:10px">
         <div class="TheaterAdd_List_Cinema_form_left" style="display: flex;">
            <div class="form-container" style="color: #000;border:1px solid #000;width:100%">

               <div class=" TheaterAdd_List_Cinema_nav_button" style="width: 100%;margin:auto">
                  <div class="TheaterAdd_List_Cinema_nav_button-left">
                     <div class="Cinema_nav_button-left-back">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: #000;width:20px" viewBox=" 0 0 20 20"
                           fill="currentColor" class="size-5">
                           <path fill-rule="evenodd" d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0
10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875
3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1
1.06.025Z" clip-rule="evenodd" />
                        </svg>
                        <span style="color: #000;">Quay lại</span>
                     </div>
                     <div class="Cinema_nav_button-left-update" style="">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: #000;width:20px" viewBox="0 0 20 20"
                           fill="currentColor" class="size-5">
                           <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0
0 0-.75.75v4.242a.75.75 0
0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0
0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0
0 1.5h4.243a.75.75 0 0 0 .53-.219Z" clip-rule="evenodd" />
                        </svg>
                        <span style="color: #000;">Tạo rạp phim mới </span>
                     </div>
                  </div>
               </div>
               <form id="infoForm">
                  <div class="infoForm-left" style="width: 40%;">
                     <div class="form-group">
                        <label for="name-cinema">Tên rạp</label>
                        <input type="text" id="name" name="name" required>
                     </div>
                     <div class="form-group">
                        <label for="address-cinema">Địa chỉ rạp</label>
                        <input type="text" id="address-cinema" name="address" required>
                     </div>
                     <div class="form-group">
                        <label for="room">Phòng</label>
                        <div style="display: flex; align-items: center;">
                           <input type="number" id="room" name="room" value="1" min="1" required
                              style="width: 600px; text-align: center;">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="cinema-image">Ảnh rạp</label>
                        <input type="file" id="cinema-image" name="cinema-image" accept="image/*" required>
                     </div>
                     <div class="form-group">
                        <button type="submit" style="margin-top: 20px;">Lưu</button>
                     </div>
                  </div>
               </form>


            </div>
         </div>
      </div>

   </div>
   <div class="TheaterAdd_All_toolbar" style="width: 25%;">
      <div class="TheaterAdd_All_toolbar_logo">
         <img style="width: 100%;" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
      </div>
      <div class="TheaterAdd_All_toolbar_list">
         <ul>
            <li class="TheaterAdd_list-items"><a href="">Tổng quan</a></li>
            <li class="TheaterAdd_list-items"><a href="/Management">Quản lý phim</a></li>
            <li class="TheaterAdd_list-items"><a href="/TheaterAdd">Quản lý xuất chiếu</a></li>
            <li class="TheaterAdd_list-items"><a href="/ticket">Quản lý vé</a></li>
            <li class="TheaterAdd_list-items"><a href="/customer">Quản lý khách hàng</a></li>
            <li class="TheaterAdd_list-items"><a href="/cinema">Quản lý rạp phim</a></li>
         </ul>
      </div>
   </div>
</div>
</div>

<script>

   ///
   function changeRoomCount(amount) {
      var roomInput = document.getElementById('room');
      var currentCount = parseInt(roomInput.value);
      var newCount = currentCount + amount;
      if (newCount >= 1) {
         roomInput.value = newCount;
      }
   }
</script>
