@* GoogleMap *@
@* Huế *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1913.1434370679021!2d107.58895367997042!3d16.461005461169293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a1ed3c48b8e9%3A0xfafa16e6a736e872!2zQ2luZXN0YXIgSHXhur8!5e0!3m2!1svi!2s!4v1718855989903!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@* Quốc Thanh *@

<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.618667291792!2d106.68477397565934!3d10.763843889384159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f19e63f0a05%3A0xd4c41b784ebcc3e8!2sCinestar%20Cinema%20Qu%E1%BB%91c%20Thanh!5e0!3m2!1svi!2s!4v1718856296958!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@* Hai bà trưng *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3744753948913!2d106.69557627565956!3d10.782604189366523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f366a781d37%3A0x1f5346650cf7ceb8!2sCinestar%20Hai%20B%C3%A0%20Tr%C6%B0ng!5e0!3m2!1svi!2s!4v1718856368669!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@* Sinh viên ( Bình Dương ) *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.164102150811!2d106.79772157566069!3d10.875120289279733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d92902cd3bd1%3A0x306b37a211e5deef!2sCinestar%20Sinh%20Vi%C3%AAn!5e0!3m2!1svi!2s!4v1718856434484!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@* Mỹ Tho *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2070.4889044289316!2d106.36949726901555!3d10.355937069354344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310aafcf3e3e46d7%3A0x9c8785d5b0bd58b5!2sCinestar%20M%E1%BB%B9%20Tho!5e0!3m2!1svi!2s!4v1718856500713!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@* Kiên Giang *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.768798602281!2d105.11842697564971!3d9.953184590149794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0b5637be8a609%3A0x4ae933c66835d7fa!2sCinestar%20Ki%C3%AAn%20Giang!5e0!3m2!1svi!2s!4v1718856575157!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


@* Lâm Đồng *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3906.525688698923!2d108.36826747567163!3d11.727968988484653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31714717dff98303%3A0xea905640eaa424d0!2zQ2luZXN0YXIgTMOibSDEkOG7k25nICjEkOG7qWMgVHLhu41uZyk!5e0!3m2!1svi!2s!4v1718856620457!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@* Đà Lạt *@
<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.520943800815!2d108.44317087567461!3d11.938390588290048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171136387a15c0f%3A0x60ad2d72ff0a9d2a!2zQ2luZXN0YXIgxJDDoCBM4bqhdA!5e0!3m2!1svi!2s!4v1718856671179!5m2!1svi!2s"
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>