@page "/book-tickets"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ticket";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User
<link rel="stylesheet" href="~/css/book-tickets.css">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<div class="Container">
    <div class="text-center">
        <div class="Heading-booktickets">
            <h1 style="font-family: 'Anton', sans-serif;">PHIM ĐANG CHIẾU</h1>
        </div>
    </div>
    <div class="Box">
        <div class="Box-film">
            <div class="Img" style="margin-right: 5px;">
                <img
                    src="https://api-website.cinestar.com.vn/media/wysiwyg/Posters/06-2024/gia-tai-cua-ngoai-sneakshow.jpg">
            </div>
            <div class="mv-Content" style="margin-left: 5px;">
                <a href="">
                    <h3 class="mv-name" style="font-family: 'Anton', sans-serif;font-size:20px">GIA TÀI CỦA NGOẠI 2D PĐ
                        (T13)</h3>
                </a>

                <div class="mv-Type" style="display:flex">
                    <div class="mv-txt">
                        <img src=" https://cinestar.com.vn/assets/images/icon-tag.svg">
                        <p class="txt">Tâm Lý</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="https://cinestar.com.vn/assets/images/icon-clock.svg">
                        <p class="txt">127</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="~/images/globe-removebg-preview.png">
                        <p class="txt">Thái Lan</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="https://cinestar.com.vn/assets/images/subtitle.svg">
                        <p class="txt">Phụ Đề</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="~/images/user-check.png">
                        <p class="txt">T13: Phim dành cho khán giả từ đủ 13 tuổi trở lên (13+)
                        </p>
                    </div>
                    <div class="Time-frame">
                        <div class="day">
                            <p class="Time-frame-txt" style="font-size: 14px;">Ngày: 23/06/2024</p>
                            <div class="Angle-top">
                                <img src="~/images/arrowhead-up.png" style="width:17px;">
                            </div>
                        </div>
                        <div class="dsa">
                            <P class="Time-frame-txt" style="font-size: 12px">STANDARD</P>
                        </div>
                        <div class="item-time-mv">
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30
                                </p>
                            </div>
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30</p>
                            </div>
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30</p>
                            </div>
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Box-film">
            <div class="Img" style="margin-right: 5px;">
                <img
                    src="https://api-website.cinestar.com.vn/media/wysiwyg/Posters/06-2024/gia-tai-cua-ngoai-sneakshow.jpg">
            </div>
            <div class="mv-Content" style="margin-left: 5px;">
                <a href="">
                    <h3 class="mv-name" style="font-family: 'Anton', sans-serif;font-size:20px">GIA TÀI CỦA NGOẠI 2D PĐ
                        (T13)</h3>
                </a>

                <div class="mv-Type" style="display:flex">
                    <div class="mv-txt">
                        <img src=" https://cinestar.com.vn/assets/images/icon-tag.svg">
                        <p class="txt">Tâm Lý</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="https://cinestar.com.vn/assets/images/icon-clock.svg">
                        <p class="txt">127</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="~/images/globe-removebg-preview.png">
                        <p class="txt">Thái Lan</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="https://cinestar.com.vn/assets/images/subtitle.svg">
                        <p class="txt">Phụ Đề</p>
                    </div>

                    <div class=" mv-txt">
                        <img src="~/images/user-check.png">
                        <p class="txt">T13: Phim dành cho khán giả từ đủ 13 tuổi trở lên (13+)
                        </p>
                    </div>
                    <div class="Time-frame">
                        <div class="day">
                            <p class="Time-frame-txt" style="font-size: 14px;">Ngày: 23/06/2024</p>
                            <div class="Angle-top">
                                <img src="~/images/arrowhead-up.png" style="width:17px;">
                            </div>
                        </div>
                        <div class="dsa">
                            <P class="Time-frame-txt" style="font-size: 12px">STANDARD</P>
                        </div>
                        <div class="item-time-mv">
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30
                                </p>
                            </div>
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30</p>
                            </div>
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30</p>
                            </div>
                            <div class="time-mv">
                                <p class="Time-frame-txt" style="font-size: 13px;text-align: center; ">22:30</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const angleTopElements = document.querySelectorAll(".Angle-top");
        const timeFrames = document.querySelectorAll(".Time-frame");

        angleTopElements.forEach(function (angleTopElement, index) {
            angleTopElement.addEventListener("click", function () {
                timeFrames[index].classList.toggle("collapsed");

                this.classList.toggle("active");

                if (timeFrames[index].classList.contains("collapsed")) {
                    timeFrames[index].style.maxHeight = "30px";
                } else {
                    timeFrames[index].style.maxHeight = "218px";
                }
            });
        });
    });



</script>