@{
    ViewData["Title"] = "Book Ticket";
}

<div class="text-center">
    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F01-Quoc-Thanh-masthead.jpg&w=640&q=75"
        alt="">
    <h1>sdadsa</h1>
</div>
