@{
    ViewData["Title"] = "Ticket";
}
<link rel="stylesheet" href="~/css/booktickets.css">

<div class="Container">
    <div class="Box-row-1">
        <table class="row-1">
            <td>
                <div class="Box-img1">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F01-Quoc-Thanh-masthead.jpg&w=640&q=75"
                        alt="">

                    <div class="Content-main">
                        <div class="Address-box-">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR QUỐC THANH</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">6 phòng chiếu với 930 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/JZWAX4rT6NKHHdkt6" target="_blank">
                                                <span class="text">
                                                    271 Đ. Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1,
                                                    Thành
                                                    phố Hồ
                                                    Chí
                                                    Minh 70000 </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="Box-img2">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F03-Hai_Ba_Trung_masthead.jpg&w=640&q=75"
                        alt="">

                    <div class="Content-main">
                        <div class="Address-box">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR HAI BÀ TRƯNG (TP.HCM)</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">5 phòng chiếu với 725 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/Zss3nqqczYtfZyx76" target="_blank">
                                                <span class="text">
                                                    135 Hai Bà Trưng, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh 70000
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="Box-img3">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F05_sinh_vien_masthead.jpg&w=640&q=75"
                        alt="">
                    <div class="Content-main">
                        <div class="Address-box">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR SINH VIÊN (BÌNH DƯƠNG)</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">4 phòng chiếu với 881 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/WJ52XcF3C2M28AJd9" target="_blank">
                                                <span class="text">
                                                    Nhà văn hóa sinh viên, Đại học Quốc gia HCM, P.Đông Hòa,Dĩ An,Bình
                                                    Dương
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </table>
    </div>
    <div class="Box-row-2">
        <table class="row-2">
            <td>
                <div class="Box-img4">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F04_Hue_masthead.jpg&w=640&q=75"
                        alt="">
                    <div class="Content-main">
                        <div class="Address-box-">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR HUẾ</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">8 phòng chiếu với 1200 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/PkBer2uqwVzdRvrU9" target="_blank">
                                                <span class="text">
                                                    25 Hai Bà Trưng, Vĩnh Ninh, Thành phố Huế, Thừa Thiên Huế 52000
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="Box-img5">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F02-Da_Lat_masthead.jpg&w=640&q=75"
                        alt="">

                    <div class="Content-main">
                        <div class="Address-box">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR ĐÀ LẠT</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">6 phòng chiếu với 1592 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/3oobhof47oG6uTQF9" target="_blank">
                                                <span class="text">
                                                    Quảng trường Lâm Viên, Đ. Trần Quốc Toản, Phường 10, Thành phố Đà
                                                    Lạt, Lâm Đồng
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="Box-img6">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F08_Lam_Dong_masthead.jpg&w=640&q=75"
                        alt="">
                    <div class="Content-main">
                        <div class="Address-box">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR LÂM ĐỒNG</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">4 phòng chiếu với 853 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/gvS7hspfFVW47dSX9" target="_blank">
                                                <span class="text">
                                                    TTC Plaza, 713 QL20, Liên Nghĩa, Đức Trọng, Lâm Đồng
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </table>
    </div>
    <div class="Box-row-3">
        <table class="row-3">
            <td>
                <div class="Box-img7">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F06_My_Tho_masthead.jpg&w=640&q=75"
                        alt="">
                    <div class="Content-main">
                        <div class="Address-box-">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR MỸ THO</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">5 phòng chiếu với 912 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/A6V57UZL64ZWtjCN8" target="_blank">
                                                <span class="text">
                                                    52 Đinh Bộ Lĩnh, Phường 3, Thành phố Mỹ Tho, Tiền Giang
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="Box-img8">
                    <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar-api.monamedia.net%2Fmedia%2Fwysiwyg%2FCinemaImage%2F07_Kien_Giang_masthead.jpg&w=640&q=75"
                        alt="">
                    <div class="Content-main">
                        <div class="Address-box">
                            <div class="Heading-box">
                                <h1 class="asdasd">CINESTAR KIÊN GIANG</h1>
                                <div class="Body-box">
                                    <ul>
                                        <li class="item">
                                            <a href="">
                                                <span class="text">4 phòng chiếu với 750 ghế</span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="https://maps.app.goo.gl/99RYFN54XRpT4ZZc7" target="_blank">
                                                <span class="text">
                                                    Trung tâm Thương mại, Lô A2 - Khu 2, Nguyễn Chí Thanh, Rạch Sỏi, Tp.
                                                    Rạch Giá, Kiên Giang 920000
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-bookticket">
                                    <a href="">
                                        <p>Đặt vé</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </table>
    </div>
</div>