@page "/admin"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@*
<div class="flex flex-col max-w-1200 mx-auto py-8">
<a href="/admin/user">Users</a>

<a href="/admin/genre">Genres</a>
<a href="/admin/genre/add">Add Genre</a>

<a href="/admin/movie">Movies</a>
<a href="/admin/movie/add">Add Movie</a>

<a href="/admin/theater">Theaters</a>
<a href="/admin/movie/add">Add Theater</a>

</div> *@

<head>
    <link rel="stylesheet" href="~/Css/useradmin.css">

</head>
<div class="Admin_vertical_all">
    <div class="Admin_toolbar">
        <div class="Admin_toolbar_title">
            <h1>ADMIN</h1>
        </div>
        <ul class="Admin_list_toolbar">
            <li class="Admin_list_toolbar_item">
                <div class="">
                    <span id="Admin_overview" style="font-weight: bold;">Tổng
                        quan</span>
                </div>
                <ul id="Overview-hidden-1">
                    <li>+ Doanh thu theo phim</li>
                    <li>+ Doanh thu theo rạp</li>
                </ul>
            </li>
            <li class="Admin_list_toolbar_item">
                <span id="Admin_cinema" style="font-weight: bold;">Quản lý rạp phim</Span>
                <ul id="Overview-hidden-2">
                    <a href="/admin/Theater/add">
                        <li>+ Thêm rạp </li>
                    </a>
                    <a href="/Admin/Theater">
                        <li>+ Danh sách rạp</li>
                    </a>

                </ul>
            </li>
            <li class=" Admin_list_toolbar_item">
                <span id="Admin_movie" style="font-weight: bold;">Quản lý phim</span>
                <ul id="Overview-hidden-3">
                    <a href="/admin/Movie/add">
                        <li>+ Thêm phim </li>
                    </a>
                    <li>+ Danh sách phim </li>
                </ul>
            </li>
            <li class="Admin_list_toolbar_item">
                <span id="Admin_product" style="font-weight: bold;">Quản đơn hàng </span>
                <ul id="Overview-hidden-4">
                    <li>+ Danh sách đơn hàng </li>
                </ul>
            </li>
            <li class="Admin_list_toolbar_item"><span id="Admin_Showtimes" style="font-weight: bold;"><a
                        href="/admin/adminproduct">Quản lý lịch
                        chiếu</a></span>
            </li>
            <li class="Admin_list_toolbar_item"><span id="Admin_Historytimes" style="font-weight: bold;"><a
                        href="/admin/admincustomer">Quản lý
                        xuất
                        chiếu</a></span>
            </li>
            <li class="Admin_list_toolbar_item"><span id="Admin_PriceTicket" style="font-weight: bold;"><a
                        href="/admin/admincustomer">Quản lý giá
                        vé</a></span>
            </li>
            <li class="Admin_list_toolbar_item"><span id="Admin_customer" style="font-weight: bold;"><a
                        href="/admin/admincustomer">Quản lý
                        user</a></span>
            </li>
            <li class="Admin_list_toolbar_item"><span id="Admin_Combowater" style="font-weight: bold;"><a
                        href="/admin/admincustomer">Quản lý combo
                        bắp nước</a></span>
            </li>
        </ul>

    </div>

</div>

</div>
<script>
    document.getElementById('Admin_overview').addEventListener('click', function () {
        var overview = document.getElementById('Overview-hidden-1');
        if (overview.style.display === 'block') {
            overview.style.display = 'none';
        } else {
            overview.style.display = 'block';
        }
    });
    document.getElementById('Admin_cinema').addEventListener('click', function () {
        var overview = document.getElementById('Overview-hidden-2');
        if (overview.style.display === 'block') {
            overview.style.display = 'none';
        } else {
            overview.style.display = 'block';
        }
    });
    document.getElementById('Admin_movie').addEventListener('click', function () {
        var overview = document.getElementById('Overview-hidden-3');
        if (overview.style.display === 'block') {
            overview.style.display = 'none';
        } else {
            overview.style.display = 'block';
        }
    });
    document.getElementById('Admin_product').addEventListener('click', function () {
        var overview = document.getElementById('Overview-hidden-4');
        if (overview.style.display === 'block') {
            overview.style.display = 'none';
        } else {
            overview.style.display = 'block';
        }
    });
</script>