@page "/admin"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;

<div class="flex flex-col max-w-1200 mx-auto py-8">
    <a href="/admin/user">Users</a>

    <a href="/admin/genre">Genres</a>
    <a href="/admin/genre/add">Add Genre</a>

    <a href="/admin/movie">Movies</a>
    <a href="/admin/movie/add">Add Movie</a>

    <a href="/admin/theater">Theaters</a>
    <a href="/admin/movie/add">Add Theater</a>

</div>