@{
    ViewData["Title"] = "Cinema";
}
<link rel="stylesheet" href="~/Css/cinema.css">
<style>

</style>
<div class="Cinema_Movie">
    <div class="Cinema_Movie_table" style="">
        <div class="Cinema_All_table_title">
            <span style="color: #000;font-size:30px">Quản lý rạp chiếu </span>
        </div>
        <span></span>
        <div class="Cinema_All_table_Listadd">
            <div class="Cinema_List_Movie">
                <span style="font-weight: bold;font-size:18px">Danh sách phim đang chiếu</span>
            </div>
            <div class="Cinema_Add_Movie" id="addMovieBtn" style="display: flex;">
                <div class="Cinema_Add_Movie_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:80%" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </div>
                <div class="Cinema_Add_Movie_text">
                    <span style="font-size: 14px;">Thêm rạp</span>
                </div>
            </div>
        </div>
        <div class="movie clearfix" style="width: 100%;">
            <img style="width: 15%;"
                src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fgia-tai-cua-ngoai-sneakshow.jpg&w=1920&q=75"
                alt="Gia tài của ngoại" width="100%">
            <h2>Gia tài của ngoại 2D PD (T13)</h2>
            <div class="Cinema-Infor" style="width: 100%;">
                <div class=" Cinema-Infor-name">
                    <span style="color: #000;">Tên rạp:Cinestar Quốc Khánh</span>
                </div>
                <div class="Cinema-Infor-address">
                    <span style="color: #000;">Địa chỉ: 271 Nguyễn Trãi,Phường Cư Trinh,Quận <br>1,Thành Phố Hồ Chí
                        Minh</span>
                </div>
                <div class="Cinema-Infor-max">
                    <span style="color: #000;">Sức chứa:50 người</span>
                </div>
                <div class="Cinema-Infor-room">
                    <span style="color: #000;">Số phòng chiếu :6 phòng</span>
                </div>
                <div class="Cinema-Infor-slot">
                    <span style="color: #000;">Ghế :800 ghế</span>
                </div>
            </div>
        </div>
    </div>

    <div class="Cinema_All_toolbar">
        <div class="Cinema_All_toolbar_logo">
            <img style="width: 100%;" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
        </div>
        <div class="Cinema_All_toolbar_list">
            <ul>
                <li class="Cinema_list-items"><a href="">Tổng quan</a></li>
                <li class="Cinema_list-items"><a href="/Management">Quản lý phim</a></li>
                <li class="Cinema_list-items"><a href="/Export">Quản lý xuất chiếu</a></li>
                <li class="Cinema_list-items"><a href="/ticket">Quản lý vé</a></li>
                <li class="Cinema_list-items"><a href="/customer">Quản lý khách hàng</a></li>
                <li class="Cinema_list-items"><a href="/cinema">Quản lý rạp phim</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="overlay" id="overlay" style="width: 100%;">
    <div class="form-container">
        <span class="close-btn" id="closeBtn">&times;</span>
        <h2>Thêm rạp chiếu mới</h2>
        <form style="width:100%;gap:10px;display:flex;margin-top:-50px">
            <div class="form-left" style="margin-top:55px;">
                <label for="movieImage">Thêm ảnh:</label>
                <div class="image-upload" style="width: 100%;margin:auto;height:200px">
                    <input type="file" id="movieImage" name="movieImage">
                    <label for="movieImage" style="align-items: center;" class="upload-icon">+</label>
                </div>
            </div>
            <div class="form-center">
                <div class="" style="display: flex;gap:71px;margin-top:60px">
                    <label for="Cinema-Title" style="font-size: 16px;">Tên rạp:</label>
                    <input type="text" placeholder="Nhập tên rạp" style="color: #000;" id="movieTitle"
                        name="Cinema-Title" required>
                </div>


                <div style="display: flex;gap:75px;margin-top:10px">
                    <label for="movieDirector">Địa chỉ:</label>
                    <input type="text" placeholder="Nhập tên địa chỉ" style="color: #000;" id="movieDirector"
                        name="movieDirector" required>
                </div>
                <div style="display: flex;gap:55px;margin-top:10px">
                    <label for="movieActors">Sức chứa :</label>
                    <input type="text" placeholder="Nhập sức chứa" style="color: #000;" id="movieActors"
                        name="movieActors" required>
                </div>
                <div class="form-bottom" style="width: 100%;">
                    <div style="display: flex;margin-top:10px;gap:10px">
                        <label for="movieTrailer">Số phòng chiếu :</label>
                        <input type="url" id="movieTrailer" placeholder="Nhập số phòng" style="color: #000;"
                            name="movieTrailer" required>
                    </div>
                    <div style="display: flex;margin-top:10px;gap:92px">
                        <label for="movieTrailer">Ghế :</label>
                        <input type="url" id="movieTrailer" placeholder="Nhập số ghế" style="color: #000;"
                            name="movieTrailer" required>
                    </div>
                </div>
            </div>
        </form>
        <div class="Cinema-button">
            <div class="cinema-button-acp"
                style="color: #000; border: 1px solid green; background: #b7ffb5; padding: 10px;margin-left:auto;text-align:center;border-radius:5px">
                Xác nhận
            </div>
            <div class=" cinema-button-cancel"
                style="color: #000; border: 1px solid red; background:#FFA4A4; padding: 10px;text-align:center;border-radius:5px">
                Hủy
            </div>
        </div>

    </div>
</div>

<script>
    document.getElementById('addMovieBtn').addEventListener('click', function () {
        document.getElementById('overlay').style.display = 'flex';
    });

    document.getElementById('closeBtn').addEventListener('click', function () {
        document.getElementById('overlay').style.display = 'none';
    });
</script>
