@page "/login"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Auth.Login.LoginModel;

<div class="w-full min-h-screen py-14 px-21 mb-0" style="background: url(/images/bg.jpg); background-repeat: no-repeat; background-position: center;
    background-size: cover;">
    <div class="max-w-1200 mx-auto">
        @if (TempData["SuccessMessage"] != null)
        {

            <div class="float-down fixed z-50 top-0 w-full flex items-center justify-center">
                <div class="bg-green-400 text-white px-8 py-3 rounded-lg shadow-lg">
                    @TempData["SuccessMessage"]
                </div>
            </div>
        }

        <div class="rounded-lg shadow-lg overflow-hidden max-w-[620px] w-full">
            @* Top *@
            <div class="flex ">
                <a href='/login'
                    class="font-body tracking-wider uppercase rounded-t-lg bg-white text-dark w-1/2 px-21 py-2 text-center">
                    Đăng Nhập
                </a>
                <a href='/register'
                    class="font-body tracking-wider uppercase rounded-t-lg text-white w-1/2 px-21 py-2 text-center">
                    Đăng Ký
                </a>
            </div>


            @* Body *@
            <div class="bg-white p-10">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="text-rose-500 mb-3 italic text-center">
                        @foreach (var modelState in ViewData.ModelState)
                        {
                            foreach (var error in modelState.Value.Errors)
                            {
                                <div>@error.ErrorMessage</div>
                            }
                        }
                    </div>
                }

                <form method="post" class=" flex flex-col gap-6">
                    @* Email *@
                    <div class="text-dark">
                        <p class="mb-1.5">Email *</p>
                        <input asp-for="Email" type="text" class="px-21 w-full border h-[46px] focus:outline-0"
                            placeholder="..." required>
                    </div>

                    <div class="text-dark">
                        <p class="mb-1.5">Mật khẩu *</p>
                        <input asp-for="Password" type="password" class="px-21 w-full border h-[46px] focus:outline-0"
                            placeholder="..." required>
                    </div>

                    <div class="text-dark flex gap-2 items-center">
                        <input id="save-password" type="checkbox" class="w-4 h-4" placeholder="...">
                        <label for="save-password">Lưu mật khẩu đăng nhập *</label>
                    </div>

                    <div class="text-dark flex justify-end">
                        <a href="/forgot-password" class="block text-right text-sky-500 underline underline-offset-1">
                            Quên mật khẩu
                        </a>
                    </div>

                    <button
                        class="relative h-[40px] rounded-md text-dark px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group bg-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#639] after:to-[#36c] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                        <span class="uppercase font-body text-sm tracking-widest group-hover:text-light trans-300 z-10">
                            ĐĂNG NHẬP
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
