@page "/Api"

@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@using System.Globalization
@using System.Text.Json
@model the_movie_hub.Pages.Api.ApiModel
@{
  Layout = "_Layout";
  ViewData["Title"] = "Vovan";
}

<div>Api</div>