@page "/movie"

@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Movie.Index.MovieIndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Movie";
}

<div class="text-center">
    <h1 class="display-4">Movie</h1>
</div>
