@{
    ViewData["Title"] = "Not Found";
}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="/css/notfound.css">

<body>
    <div class="Box">
        <div class="Logo">
            <img src="https://cinestar.com.vn/pictures/logo/den.png" alt="">
            <div class=" Content">
                <p style="margin-top: 20px;
    font-weight: bold;
    font-size: 23px;
    color: black;margin-left:50px ">The page you requested cannot be found!</p>
                <div class="Url-back">
                    <p>Click here go back.</p> <a href="/book-tickets">Home</a>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="link=bowling" style="width: 100px;height:30px; background-color:violet;">
    <a href="/bowling">Bowling</a>
</div>

</html>