@{
    ViewData["Title"] = "Restaurant";
}
<link rel="stylesheet" href="~/css/allentertainment.css" />

<div class="container">
            <div class="cinestar-system-detail-wr restaurant-wr txt-center mg-auto">
                <div class="bg" data-aos="fade-up"> <img src="https://api-website.cinestar.com.vn/media/.renditions/wysiwyg/CMSPage/Service/bg-restaurant.jpg" alt=""><span class="logo">
                       
                    </span></div>
                <div class="content" data-aos="fade-up">
                    <h2 class="heading">NHÀ HÀNG</h2>
                    <p class="text">Bắt tay vào cuộc phiêu lưu ẩm thực tại Món Ngon Đà Lạt &amp; Huế!</p>
                    
                    <p class="text">Trải nghiệm hương vị đa dạng của Việt Nam và quốc tế tại Món Ngon Đà Lạt &amp; Huế, nhà hàng độc đáo của Cinestar. Chúng tôi cung cấp thực đơn phong phú với hơn 100 món ăn ngon hàng ngày, thể hiện tinh hoa ẩm thực của địa phương và hương vị quốc tế.</p>
                    
                    <p class="text">Lựa chọn cho mọi dịp: Cho dù bạn đang tụ tập cùng gia đình, tận hưởng một đêm đi chơi với bạn bè hay ăn mừng cùng đồng nghiệp, bầu không khí ấm áp và hấp dẫn của chúng tôi kết hợp với dịch vụ chuyên nghiệp sẽ đảm bảo mang lại trải nghiệm đáng nhớ.</p>
                    <p class="text">Nhà hàng Món Ngon Đà Lạt &amp; Huế cũng là địa điểm lý tưởng để bạn tổ chức các sự kiện, tiệc gia đình, lễ kỷ niệm. Chúng tôi cung cấp nhiều lựa chọn khác nhau để đáp ứng nhu cầu của bạn, đảm bảo dịp đặc biệt của bạn thành công.</p>
                    <p class="text">Hãy khám phá ngay thế giới ẩm thực tại Món Ngon Đà Lạt &amp; Huế!</p>
                </div>
                <div class="address-list row collapseBlockJS">
                    <div class="address-item col col-6 collapseItem active" data-aos="fade-up">
                        <div class="address-box">
                            <div class="address-box-head collapseHead">
                                <h4 class="sub-tittle txt-upper">HUẾ</h4><i class="fa-solid fa-angle-down icon"></i>
                            </div>
                            <ul class="list collapseBody">
                                <li class="item"><a class="link" href="https://maps.app.goo.gl/TU3fyNWzC36uWHvY6" target="_blank"><span class="ic"> <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg" alt=""></span><span class="txt">25 Hai Bà Trưng, Phường
                                            Vĩnh Ninh, TP.Huế</span></a></li>

                                <li class="item">
                                    <a class="link" target="_blank" href="https://www.facebook.com/monngonhue.cinestar"><span class="ic"><img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg" alt=""></span><span class="txt">https://www.facebook.com/monngonhue.cinestar</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="address-item col col-6 collapseItem" data-aos="fade-up">
                        <div class="address-box">
                            <div class="address-box-head collapseHead">
                                <h4 class="sub-tittle txt-upper">ĐÀ LẠT</h4><i class="fa-solid fa-angle-down icon"></i>
                            </div>
                            <ul class="list collapseBody">
                                <li class="item">
                                    <a class="link" href="https://maps.app.goo.gl/ac87TGs9pcoREvQVA" target="_blank"><span class="ic"> <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg" alt=""></span><span class="txt">Quảng trường Lâm Viên,
                                            Thành phố Đà Lạt</span></a>
                                </li>
                                <li class="item">
                                    <a class="link" target="_blank" href="https://www.facebook.com/CinestarDaLat"><span class="ic"><img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg" alt=""></span><span class="txt">https://www.facebook.com/CinestarDaLat</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>