@page "/change-password"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<link rel="stylesheet" href="~/css/changepassword.css">


<div class="container">
    <h1>QUÊN MẬT KHẨU</h1>
    <p>Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn <br> hướng dẫn để tạo mật khẩu mới</p>
    <form>
        <input type="email" placeholder="Email" required>
        <button type="submit">GỬI MÃ XÁC MINH</button>
    </form>
</div>
