@page "/showtimes"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Showtime";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<link rel="stylesheet" href="~/css/showtime.css">
<link rel="stylesheet" href="~/css/output.css">

<style>
    .Showtime-movie-right-cinema4,
    .Showtime-movie-right-cinema3,
    .Showtime-movie-right-cinema2,
    .Showtime-movie-right-cinema1 {
        font-family: Arial, sans-serif;
        color: white;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Showtime-movie-left {
        margin-left: 0;
    }

    .container4,
    .container3,
    .container2,
    .container1 {
        padding: 20px;
    }

    .cinema-name4,
    .cinema-name3,
    .cinema-name2,
    .cinema-name1 {

        font-weight: bold;
    }

    .cinema-address4,
    .cinema-address3,
    .cinema-address2,
    .cinema-address1 {
        font-size: 16px;
        margin: 10px 0;
    }

    .showtime4,
    .showtime3,
    .showtime2,
    .showtime1 {
        background-color: #323657;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 13px;
    }

    hr {
        border: 0;
        height: 1px;
        background: #fff;
        margin: 10px 0;
    }
</style>
<main>
    <div class="Showtime" style="width: 100%;margin-top:200px;margin-bottom:50px">
        <div class="Showtime-date" style="border:1px solid #959699;">
            <div class="date" style="display: flex;justify-content: space-between;margin-top:-5px">
                <div class="date-text">
                    <h1 style="color:#f3ea28;">1. Ngày</h1>
                </div>
                <div class="date-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28;"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h1.5C5.496 19.5 6 18.996 6 18.375m-3.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-1.5A1.125 1.125 0 0 1 18 18.375M20.625 4.5H3.375m17.25 0c.621 0 1.125.504 1.125 1.125M20.625 4.5h-1.5C18.504 4.5 18 5.004 18 5.625m3.75 0v1.5c0 .621-.504 1.125-1.125 1.125M3.375 4.5c-.621 0-1.125.504-1.125 1.125M3.375 4.5h1.5C5.496 4.5 6 5.004 6 5.625m-3.75 0v1.5c0 .621.504 1.125 1.125 1.125m0 0h1.5m-1.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m1.5-3.75C5.496 8.25 6 7.746 6 7.125v-1.5M4.875 8.25C5.496 8.25 6 8.754 6 9.375v1.5m0-5.25v5.25m0-5.25C6 5.004 6.504 4.5 7.125 4.5h9.75c.621 0 1.125.504 1.125 1.125m1.125 2.625h1.5m-1.5 0A1.125 1.125 0 0 1 18 7.125v-1.5m1.125 2.625c-.621 0-1.125.504-1.125 1.125v1.5m2.625-2.625c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125M18 5.625v5.25M7.125 12h9.75m-9.75 0A1.125 1.125 0 0 1 6 10.875M7.125 12C6.504 12 6 12.504 6 13.125m0-2.25C6 11.496 5.496 12 4.875 12M18 10.875c0 .621-.504 1.125-1.125 1.125M18 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m-12 5.25v-5.25m0 5.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125m-12 0v-1.5c0-.621-.504-1.125-1.125-1.125M18 18.375v-5.25m0 5.25v-1.5c0-.621.504-1.125 1.125-1.125M18 13.125v1.5c0 .621.504 1.125 1.125 1.125M18 13.125c0-.621.504-1.125 1.125-1.125M6 13.125v1.5c0 .621-.504 1.125-1.125 1.125M6 13.125C6 12.504 5.496 12 4.875 12m-1.5 0h1.5m-1.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M19.125 12h1.5m0 0c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h1.5m14.25 0h1.5" />
                    </svg>
                </div>
            </div>

            <div class="Showtime-date-time" style="display: flex;margin-top:10px;">
                <div class="Showtime-date-time-1"
                    style="border:1px solid #959699;color:#663a91;background-color:#f3ea28">
                    04/06 Thứ Ba
                </div>
                <div class="Showtime-date-time-2" style="border:1px solid #959699;color:#f3ea28">05/06 Thứ
                    Tư</div>
                <div class="Showtime-date-time-3" style="border:1px solid #959699;color:#f3ea28">06/06 Thứ
                    Năm</div>
                <div class="Showtime-date-time-4" style="border:1px solid #959699;color:#f3ea28">07/06 Thứ
                    Sáu</div>
            </div>
        </div>

        <div class="Showtime-movie" style="border:1px solid #959699;width: 20%;position:relative">
            <div class=" movie" style="display: flex;justify-content: space-between">
                <div class="movie-text">
                    <h1 style="color:#f3ea28 ;">2.Phim</h1>
                </div>
                <div class="movie-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:#f3ea28 ;" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25
    0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                    </svg>
                </div>
            </div>

            <div class="dropdown" style="padding:10px 10px">
                <div class="dropdown-sub" style="display: flex;justify-content:space-between;align-items:
    center;background-color:#fff;color:#000;border-radius:5px;margin-top:-5px">
                    <button class="dropbtn_movie">Chọn phim</button>
                    <div class="dropdown-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" style="align-items: center;" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-lin ecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="dropdown-content" style="position: absolute;top:100px">
                <a href="#">NGÔI ĐỀN KÌ QUÁI 4</a>
                <a href="#">MÈO BÉO SIÊU QUẬY 2D LT (K) </a>
                <a href="#">MÓNG VUỐT</a>
                <a href="#">LẬT MẶT 7: MỘT ĐIỀU ƯỚC(K)</a>
                <a href="#">STALKER: TỘI ÁC HOÀN HẢO</a>
            </div>
        </div>

        <div class="Showtime-cinema" style="border:1px solid #959699;width: 20%;position:relative">
            <div class=" movie" style="display: flex;justify-content: space-between">
                <div class="movie-text">
                    <h1 style="color:#f3ea28 ;">3. Rạp</h1>
                </div>
                <div class="movie-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28;" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                    </svg>
                </div>
            </div>

            <div class="dropdown" style="padding:10px 10px">
                <div class="dropdown-sub" style="display: flex;justify-content:space-between;align-items:
     center;background-color:#fff;color:#000;border-radius:5px;margin-top:-5px">
                    <button class="dropbtn_cinema">Chọn Rạp</button>
                    <div class="dropdown-icon-cinema">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="dropdown-content-cinema" style="position: absolute;top:100px">
                <a href="#">Cinestar Quốc Thanh</a>
                <a href="#">Cinestar Hai Bà Trưng </a>
                <a href="#">Cinestar Sinh Viên (Bình Dương)</a>
                <a href="#">Cinestar Huế</a>
                <a href="#">Cinestar Đà Lạt</a>
            </div>
        </div>
    </div>
    <div style="width: 83%;  margin: 0 auto;">
        <hr>
    </div>
    <div class="Showtime-movie" style="width: 100%;display:flex;justify-content:center;margin-top:70px">
        <div class="Showtime-movie-left" style="50%">
            <div class="Showtime-movie-left-img" style="margin: auto;">
                <img style=" width:100%;"
                    src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fgia-tai-cua-ngoai-sneakshow.jpg&w=1920&q=75"
                    alt="">
            </div>
            <div class="Showtime-movie-left-title" style="margin-top:20px">
                <span style=" font-family: Anton, sans-serif;font-size:20px">GIA TÀI CỦA NGOẠI 2D PĐ (T13)</span>
            </div>
            <div class="Showtime-movie-left-infor" style="margin-top:20px">
                <ul style="font-size: 14px; ">
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                        </svg>
                        <span>Tâm lý</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <span>127 phút</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
                        </svg>
                        <span>Thái Lan</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                        </svg>
                        <span>Phụ Đề</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28 ;" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                        <span>
                            T13: Phim dành cho khán giả từ đủ 13 tuổi trở lên.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Showtime-movie-right" style="width: 50%;">
            <div class="Showtime-movie-right-cinema1" style="display: flex;">
                <div class="container1" style="display: flex;gap:20px;width:100%">
                    <div>
                        <div class="cinema-name1"><span style="font-size: 10px;">Cinestar </span><br> <span
                                style="font-size:26px">Quốc Thanh</span> </div>
                        <div class="cinema-address1" style="font-size:14px">271 Nguyễn Trãi, Phường Nguyễn Cư <br>Trinh,
                            Quận 1,
                            Thành Phố Hồ Chí Minh
                        </div>
                    </div>
                    <div class="showtimes1">
                        <div><span style="font-size: 8px;font-weight: bold;">STANDARD</span></div>
                        <div style="display: flex;gap:10px  ">
                            <div class="showtime1">22:50</div>
                            <div class="showtime1">23:50</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 95%;  margin: 0 auto;">
                <hr>
            </div>
            <div class="Showtime-movie-right-cinema2" style="display: flex;">
                <div class="container2" style="display: flex;gap:40px;width:100%">
                    <div>
                        <div class="cinema-name2"><span style="font-size: 10px;">Cinestar </span><br> <span
                                style="font-size:26px">Đà Lạt</span> </div>
                        <div class="cinema-address2" style="font-size:14px">Quảng trường Lâm Viên, P10, TP.Đà <br>Lạt,
                            Lâm
                            Đồng

                        </div>
                    </div>
                    <div class="showtimes2">
                        <div><span style="font-size: 8px;font-weight: bold;">STANDARD</span></div>
                        <div style="display: flex;gap:10px">
                            <div class="showtime2">22:25</div>
                            <div style="display: none;" class="showtime1">23:50</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 95%;  margin: 0 auto;">
                <hr>
            </div>
            <div class="Showtime-movie-right-cinema3" style="display: flex;">
                <div class="container3" style="display: flex;gap:40px;width:100%">
                    <div>
                        <div class="cinema-name3"><span style="font-size: 10px;">Cinestar </span><br> <span
                                style="font-size:26px">Sinh Viên (Bình<br> Dương)</span> </div>
                        <div class="cinema-address3" style="font-size:14px">Nhà văn hóa sinh viên, Đại học Quốc <br>gia
                            HCM,
                            P.Đông Hòa,Dĩ An,Bình<br>Dương

                        </div>
                    </div>
                    <div class="showtimes3">
                        <div><span style="font-size: 8px;font-weight: bold;">STANDARD</span></div>
                        <div style="display: flex;gap:10px">
                            <div class="showtime3">22:40</div>
                            <div style="display: none;" class="showtime1">23:50</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 95%;  margin: 0 auto;">
                <hr>
            </div>
            <div class="Showtime-movie-right-cinema4" style="display: flex;">
                <div class="container4" style="display: flex;gap:40px;width:100%">
                    <div>
                        <div class="cinema-name4"><span style="font-size: 10px;">Cinestar </span><br> <span
                                style="font-size:26px">Huế</span></div>
                        <div class="cinema-address4" style="font-size:14px">25 Hai Bà Trưng, Vĩnh Ninh, Thành<br>phố
                            Huế,
                            Thừa Thiên Huế
                        </div>
                    </div>
                    <div class="showtimes4">
                        <div><span style="font-size: 8px;font-weight: bold;">STANDARD</span></div>
                        <div style="display: flex;gap:10px">
                            <div class="showtime4">22:30</div>
                            <div style="display: none;" class="showtime1">23:50</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 83%;  margin: 0 auto;margin-top:30px">
        <hr>
    </div>
    <div class="Showtime-movie" style="width: 100%;display:flex;justify-content:center;margin-top:70px">
        <div class="Showtime-movie-left" style="50%">
            <div class="Showtime-movie-left-img" style="margin: auto;">
                <img style=" width:100%;"
                    src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fcuu-long-thanh-trai.png&w=1920&q=75"
                    alt="">
            </div>
            <div class="Showtime-movie-left-title" style="margin-top:20px">
                <span style=" font-family: Anton, sans-serif;font-size:20px">CỬU LONG THÀNH TRẠI (T18): VÂY THÀNH</span>
            </div>
            <div class="howtime-movie-left-infor" style=";margin-top:20px">
                <ul style="font-size: 14px; ">
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                        </svg>
                        <span>Hành Động</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <span>124 phút</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
                        </svg>
                        <span>Khác</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                        </svg>
                        <span>VN</span>
                    </li>
                    <li style="display: flex;gap:10px;margin-top:10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="color:#f3ea28 ;" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                        <span>
                            T18: Phim dành cho khán giả từ đủ 18 tuổi trở lên.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Showtime-movie-right" style="width: 50%;">
            <div class="Showtime-movie-right-cinema1" style="display: flex;">
                <div class="container1" style="display: flex;gap:20px;width:100%">
                    <div>
                        <div class="cinema-name1"><span style="font-size: 10px;">Cinestar </span><br> <span
                                style="font-size:26px">Quốc Thanh</span> </div>
                        <div class="cinema-address1" style="font-size:14px">271 Nguyễn Trãi, Phường Nguyễn Cư <br>Trinh,
                            Quận 1,
                            Thành Phố Hồ Chí Minh
                        </div>
                    </div>
                    <div class="showtimes1">
                        <div><span style="font-size: 8px;font-weight: bold;">STANDARD</span></div>
                        <div style="display: flex;gap:10px  ">
                            <div class="showtime1">23:59</div>
                            <div style="display: none;" class="showtime1">23:50</div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="width: 95%;  margin: 0 auto;">
                <hr>
            </div>
            <div class="Showtime-movie-right-cinema2" style="display: flex;">
                <div class="container2" style="display: flex;gap:40px;width:100%">
                    <div>
                        <div class="cinema-name2"><span style="font-size: 10px;">Cinestar </span><br> <span
                                style="font-size:26px">Hai Bà Trưng</span> <br>(TP.HCM) </div>
                        <div class="cinema-address2" style="font-size:14px">135 Hai Bà Trưng, Phường Bến Nghé <br>,Quận
                            1,Thành Phố Hồ Chí Minh
                        </div>
                    </div>
                    <div class="showtimes2">
                        <div><span style="font-size: 8px;font-weight: bold;">STANDARD</span></div>
                        <div style="display: flex;gap:10px">
                            <div class="showtime2">23:45</div>
                            <div style="display: none;" class="showtime1">23:50</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Watching" style="display: flex;position:relative;margin-top:50px;margin-bottom:50px">
        <div class="Movie-Active" style="width: 80%; margin: auto;overflow:hidden">
            <ul style="display: flex;gap:20px;padding:0;width:200%;" id="Slide_Blogcarousel">
                <li style="width:30%;"><a href=""><img style="width:100%;border: solid 1px #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fgia-tai-cua-ngoai-sneakshow.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style=";text-align:center">GIA TÀI CỦA
                                NGOẠI
                                2D PĐ (T13)</span>
                        </div>
                        <div class="Infor-trailer" style="display:flex;margin-top:15px;gap:10px">
                            <div class="trailer-movie" style="display: flex;margin-top:5px;gap:6px ">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:100%;border: solid 1px #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fmong-vuot-new-poster.jpg&w=1920&q=75"
                            alt="mong vuot">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style="text-align:center">MÓNG VUỐT (T16)
                            </span>
                        </div>
                        <div class="Infor-trailer" style="display:flex;margin-top:15px;gap:10px">
                            <div class="trailer-movie" style="display: flex;margin-top:5px;gap:6px ">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:100%;border: solid 1px #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F05-2024%2Fstalker-toi-ac-hoan-hao.png&w=1920&q=75"
                            alt="doraemon">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style="margin-top:20px;text-align:center">STALKER: TỘI ÁC
                                HOÀN HẢO </span>
                        </div>
                        <div class="Infor-trailer" style="display: flex;margin-top:15px;gap:10px">
                            <div class="trailer-movie" style="display: flex;gap:6px;margin-top:3px">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:100%;border: solid 1px #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F05-2024%2Fpee-nak-4.jpg&w=1920&q=75"
                            alt="ngoi den ki quai">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style="margin-top:20px;text-align:center">NGÔI ĐỀN KỲ
                                QUÁI
                                4 (T16)</span>
                        </div>
                        <div class="Infor-trailer" style="display: flex;margin-top:15px;gap:10px">
                            <div class="trailer-movie" style="display: flex;gap:6px;margin-top:3px">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:94%;border: solid 1px
                    #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fbad-boys.jpg&w=1920&q=75"
                            alt="NHỮNG GÃ TRAI HƯ">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style="margin-top:20px;text-align:center">NHỮNG GÃ TRAI
                                HƯ:CHƠI HAY BỊ XƠI </span>
                        </div>
                        <div class="Infor-trailer" style="display: flex;margin-top:15px;gap:10px">
                            <div class="trailer-movie" style="display: flex;gap:6px;margin-top:3px">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:94%;border: solid 1px #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F06-2024%2Fdung-mo-cua.jpeg&w=1920&q=75"
                            alt="mong vuot">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style="text-align:center">ĐỪNG MỞ CỬA
                                (T18)
                            </span>
                        </div>
                        <div class="Infor-trailer" style="display: flex;margin-top:40px;gap:10px">
                            <div class="trailer-movie" style="display: flex;gap:6px;margin-top:3px">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:94%;border: solid 1px
                    #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F05-2024%2Ftotto-chan-poster.jpg&w=1920&q=75"
                            alt="doraemon">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style=";text-align:center">TOTTO-CHAN (K):
                                CÔ BÉ BÊN CỬA SỔ</span>
                        </div>
                        <div class="Infor-trailer" style="display: flex;margin-top:15px;gap:10px">
                            <div class="trailer-movie" style="display: flex;gap:6px;margin-top:3px">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>
                <li style="width:30%;"><a href=""><img style="width:94%;border: solid 1px #c0c0c0;border-radius:5px"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fcinestar.com.vn%2Fpictures%2FCinestar%2F05-2024%2Fmeo-beo-sieu-quay.jpg&w=1920&q=75  "
                            alt="ngoi den ki quai">
                        <div class="name-movie" style="margin-top: 20px;">
                            <span class="Blograsoul_title" style="margin-top:20px;text-align:center">MÈO BÉO SIÊU
                                QUẬY
                                2D LT (K)</span>
                        </div>
                        <div class="Infor-trailer" style="display: flex;margin-top:40px;gap:10px">
                            <div class="trailer-movie" style="display: flex;gap:6px;margin-top:3px">
                                <div class="icon-trailer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>

                                </div>
                                <div class="watch-trailer">
                                    <p style="text-decoration: underline;">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket">
                                <button
                                    style="padding:7px 20px;border: solid 1px #000;background-color: #f3ea28;color:#000;border-radius:5px;text-align:center;">ĐẶT
                                    VÉ</button>
                            </div>
                        </div>
                    </a></li>

            </ul>

        </div>
        <a class="next" style="left: 6%;" id="prev_left">&#10094;</a>
        <a class="prev" style="right: 6%;" id="next_right">&#10095;</a>
    </div>
    <div class="More-Movie" style="margin-top: 20px;">
        XEM THÊM
    </div>
    </div>
</main>
<script>
    var Showtime1 = document.querySelector('.Showtime-date-time-1');
    var Showtime2 = document.querySelector('.Showtime-date-time-2');
    var Showtime3 = document.querySelector('.Showtime-date-time-3');
    var Showtime4 = document.querySelector('.Showtime-date-time-4');

    Showtime1.addEventListener('click', function () {
        Showtime1.style.backgroundColor = '#f3ea28';
        Showtime1.style.color = '#663a91';
        Showtime2.style.backgroundColor = '#000';
        Showtime2.style.color = '#f3ea28';
        Showtime3.style.backgroundColor = '#000';
        Showtime3.style.color = '#f3ea28';
        Showtime4.style.backgroundColor = '#000';
        Showtime4.style.color = '#f3ea28';
    });
    Showtime2.addEventListener('click', function () {
        Showtime2.style.backgroundColor = '#f3ea28';
        Showtime2.style.color = '#663a91';
        Showtime1.style.backgroundColor = '#000';
        Showtime1.style.color = '#f3ea28';
        Showtime3.style.backgroundColor = '#000';
        Showtime3.style.color = '#f3ea28';
        Showtime4.style.backgroundColor = '#000';
        Showtime4.style.color = '#f3ea28';
    });
    Showtime3.addEventListener('click', function () {
        Showtime3.style.backgroundColor = '#f3ea28';
        Showtime3.style.color = '#663a91';
        Showtime1.style.backgroundColor = '#000';
        Showtime1.style.color = '#f3ea28';
        Showtime2.style.backgroundColor = '#000';
        Showtime2.style.color = '#f3ea28';
        Showtime4.style.backgroundColor = '#000';
        Showtime4.style.color = '#f3ea28';
    });
    Showtime4.addEventListener('click', function () {
        Showtime4.style.backgroundColor = '#f3ea28';
        Showtime4.style.color = '#663a91';
        Showtime1.style.backgroundColor = '#000';
        Showtime1.style.color = '#f3ea28';
        Showtime3.style.backgroundColor = '#000';
        Showtime3.style.color = '#f3ea28';
        Showtime2.style.backgroundColor = '#000';
        Showtime2.style.color = '#f3ea28';
    });

    var buttonMovie = document.querySelector('.dropbtn_movie');
    var buttonCinema = document.querySelector('.dropbtn_cinema');
    var buttoniconmovie = document.querySelector('.dropdown-icon');
    var buttoniconcinema = document.querySelector('.dropdown-icon-cinema');
    var dropdownContentMovie = document.querySelector('.dropdown-content');
    var dropdownContentCinema = document.querySelector('.dropdown-content-cinema');

    // Toggle display of dropdowns when buttons are clicked
    buttoniconmovie.addEventListener('click', function (event) {
        event.stopPropagation();
        if (dropdownContentMovie.style.display = 'block') {
            dropdownContentMovie.style.display = 'none';
        } else {
            dropdownContentMovie.style.display = 'block';
            dropdownContentCinema.style.display = 'none'; // Hide other dropdown
        }
    });
    buttonMovie.addEventListener('click', function (event) {
        event.stopPropagation();
        if (dropdownContentMovie.style.display === 'block') {
            dropdownContentMovie.style.display = 'none';
        } else {
            dropdownContentMovie.style.display = 'block';
            dropdownContentCinema.style.display = 'none'; // Hide other dropdown
        }
    });
    buttoniconcinema.addEventListener('click', function (event) {
        event.stopPropagation();
        if (dropdownContentCinema.style.display === 'block') {
            dropdownContentCinema.style.display = 'none';
        } else {
            dropdownContentCinema.style.display = 'block';
            dropdownContentMovie.style.display = 'none'; // Hide other dropdown
        }
    });
    buttonCinema.addEventListener('click', function (event) {
        event.stopPropagation();
        if (dropdownContentCinema.style.display === 'block') {
            dropdownContentCinema.style.display = 'none';
        } else {
            dropdownContentCinema.style.display = 'block';
            dropdownContentMovie.style.display = 'none'; // Hide other dropdown
        }
    });

    // Hide dropdowns when clicking outside
    document.addEventListener('click', function () {
        dropdownContentMovie.style.display = 'none';
        dropdownContentCinema.style.display = 'none';
    });

    // Prevent event propagation when clicking inside the dropdown
    dropdownContentMovie.addEventListener('click', function (event) {
        event.stopPropagation();
    });

    dropdownContentCinema.addEventListener('click', function (event) {
        event.stopPropagation();
    });
    @* buttoniconmovie.addEventListener('click', function (event) {
        event.stopPropagation();
        if (dropdownContentMovie.style.display === 'block') {
        dropdownContentMovie.style.display = 'none';
        } else {
        dropdownContentMovie.style.display = 'block';
        dropdownContentCinema.style.display = 'none'; // Hide other dropdown
        }
        }); *@

      ///
       const arrowRight = document.getElementById("next_right");
    const arrowLeft = document.getElementById("prev_left");
    const blocks = document.getElementById(
        "Slide_Blogcarousel"
    );

    let currentPosition = 0;

    function updateBlockPosition() {
        blocks.style.transform = `translateX(${currentPosition}%)`;
    }

    arrowRight.addEventListener("click", () => {
        if (currentPosition > -50) {
            currentPosition -= 50;
            updateBlockPosition();
        }
    });

    arrowLeft.addEventListener("click", () => {


        if (currentPosition < 0) {
            currentPosition += 50;
            updateBlockPosition();
        }
    });

    function handleResize() {
        if (window.innerWidth <= 990) {
            currentPosition = 0;
        } else {
            currentPosition = 0;
        }

        updateBlockPosition();
    }

    window.addEventListener("load", handleResize);
    window.addEventListener("resize", handleResize);  
</script>