@using the_movie_hub.Models
@using Newtonsoft.Json
@using the_movie_hub.Models.Main
@model IEnumerable<the_movie_hub.Models.Main.Theater>

<footer
   class="bg-[#0f172a] md:bg-gradient px-4 pt-[40px] xl:pt-[100px] pb-[40px] border-t border-slate-700 mb-[60px] md:mb-0">
   @* Static footer in medium screen*@
   <div class="max-w-1200 mx-auto -mt-5 md:mt-0">
      @* Top *@
      <div>
         <div class="grid grid-cols-12 my-6 gap-6">
            <div class="col-span-12 mx:col-span-4 flex flex-col gap-6 items-center">
               <div class="max-w-[130px] md:max-w-[368px] mx:max-w-[165px] w-full">
                  <img class="w-full h-full object-cover" src="/images/logo.jpg" alt="logo">
               </div>
               <p class="text-[16px]">BE HAPPY, BE A STAR</p>

               <div class="hidden md:flex max-w-[412px] w-full items-center gap-2 text-white text-nowrap">
                  <button
                     class="relative w-full h-[40px] rounded-md text-dark px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group bg-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#639] after:to-[#36c] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                     <span class="uppercase font-body text-sm tracking-widest group-hover:text-light trans-300 z-10">
                        ĐẶT VÉ NGAY
                     </span>
                  </button>

                  <button
                     class="relative w-full h-[40px] rounded-md px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group border-2 border-highlight text-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#ff6d00] after:to-[#ffc107] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                     <span class="uppercase font-body text-sm tracking-widest group-hover:text-primary trans-300 z-10">
                        ĐẶT BẮP NƯỚC
                     </span>
                  </button>
               </div>

               <div class="hidden md:flex items-center flex-wrap gap-3 fill-white">
                  <div class="flex-shrink-0 group">
                     <svg class="wiggle" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1
  39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4
  78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z" />
                     </svg>
                  </div>
                  <div class="flex-shrink-0 group">
                     <svg class="wiggle" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                        <path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1
  15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0
  36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3 .8-3.4 5-20.3 6.9-28.1 .6-2.5
  .3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9
  113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9
  60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248
  111 248 248z" />
                     </svg>
                  </div>
                  <div class="flex-shrink-0 group">
                     <svg class="wiggle" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2
  71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" />
                     </svg>
                  </div>
                  <div class="flex-shrink-0 group">
                     <svg class="wiggle" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3
  48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288
  448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5
  213.5V175.2l142.7 81.2-142.7 81.2z" />
                     </svg>
                     </a>
                  </div>
               </div>

               <div class="hidden md:flex items-center flex-wrap gap-3">
                  <span>Ngôn ngữ:</span>
                  <div class="relative">
                     <div class="flex items-center justify-between gap-2 cursor-pointer group">
                        <img class="w-6 scale-110 aspect-square rounded-full flex-shrink-0 wiggle"
                           src="/images/vietnam-icon.png" alt="vietnam">
                        <span class="block -mb-1">VN</span>
                     </div>
                     <button class="absolute top-10 left-0 hidden hover-float group items-center gap-3 border border-slate-50 rounded-md
  py-2 px-2.5
  bg-[#3366cc] before:w-full before:h-5 before:absolute before:-top-5 before:-left-0">
                        <img class="w-6 scale-110 aspect-square rounded-full flex-shrink-0 wiggle"
                           src="/images/us-icon.png" alt="vietnam">
                        <span class="block -mb-1">US</span>
                     </button>
                  </div>
               </div>

               @* Only show in small screen *@
               <ul class="md:hidden flex flex-col items-center text-[16px] gap-6">
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/account/account-profile">Tài
                        khoản</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/account/rent">Cho thuê sự
                        kiện</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/entertaiment">Các loại hình
                        giải trí khác</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/about-us">Giới thiệu</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/security">Chính sách bảo
                        mật</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/news">Tin tức</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/career">Tuyển dụng</a>
                  </li>
                  <li>
                     <a class="trans-300 hover:tracking-wider hover:text-highlight" href="/contact">Liên hệ</a>
                  </li>
               </ul>
            </div>

            <div class="hidden col-span-12 mx:col-span-8 md:grid grid-cols-4 gap-6">
               <div class="flex flex-col gap-6">
                  <div class="min-h-[180px]">
                     <h4 class="uppercase font-body tracking-wider">Tài Khoản</h4>

                     <ul class="flex flex-col gap-4 mt-6">
                        <li>
                           <a href="/login" class="hover:text-highlight hover:tracking-wider trans-200">Đăng nhập</a>
                        </li>
                        <li>
                           <a href="/register" class="hover:text-highlight hover:tracking-wider trans-200">Đăng Ký</a>
                        </li>
                        <li>
                           <a href="/membership"
                              class="hover:text-highlight hover:tracking-wider trans-200">Membership</a>
                        </li>
                     </ul>
                  </div>

                  <div class="min-h-[180px]">
                     <h4 class="uppercase font-body tracking-wider">Xem phim</h4>

                     <ul class="flex flex-col gap-4 mt-6">
                        <li>
                           <a href="/movie/showing" class="hover:text-highlight hover:tracking-wider trans-200">Phim
                              đang chiếu</a>
                        </li>
                        <li>
                           <a href="/movie/upcoming" class="hover:text-highlight hover:tracking-wider trans-200">Phim
                              sắp chiếu</a>
                        </li>
                        <li>
                           <a href="/movie" class="hover:text-highlight hover:tracking-wider trans-200">Suất chiếu đặc
                              biệt</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="flex flex-col gap-6">
                  <div class="min-h-[180px]">
                     <h4 class="uppercase font-body tracking-wider">Thuê sự kiện</h4>

                     <ul class="flex flex-col gap-4 mt-6">
                        <li>
                           <a href="/rent-theater" class="hover:text-highlight hover:tracking-wider trans-200">Thuê
                              rạp</a>
                        </li>
                        <li>
                           <a href="/rent" class="hover:text-highlight hover:tracking-wider trans-200">Các loại hình cho
                              thuê khác</a>
                        </li>
                        <li>
                           <a href="/membership"
                              class="hover:text-highlight hover:tracking-wider trans-200">Membership</a>
                        </li>
                     </ul>
                  </div>

                  <div class="min-h-[180px]">
                     <h4 class="uppercase font-body tracking-wider">Cinestar</h4>

                     <ul class="flex flex-col gap-4 mt-6">
                        <li>
                           <a href="/about-us" class="hover:text-highlight hover:tracking-wider trans-200">Giới
                              thiệu</a>
                        </li>
                        <li>
                           <a href="/contact" class="hover:text-highlight hover:tracking-wider trans-200">Liên hệ</a>
                        </li>
                        <li>
                           <a href="/career" class="hover:text-highlight hover:tracking-wider trans-200">Tuyển dụng</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="flex flex-col gap-6">
                  <h4 class="uppercase font-body tracking-wider">Dịch vụ khác</h4>

                  <ul class="flex flex-col gap-4">
                     <li>
                        <a href="/restaurant" class="hover:text-highlight hover:tracking-wider trans-200">Nhà
                           hàng</a>
                     </li>
                     <li>
                        <a href="/kidzone" class="hover:text-highlight hover:tracking-wider trans-200">Kidzone</a>
                     </li>
                     <li>
                        <a href="/bowling" class="hover:text-highlight hover:tracking-wider trans-200">Bowling</a>
                     </li>
                     <li>
                        <a href="/billiard" class="hover:text-highlight hover:tracking-wider trans-200">Billiards</a>
                     </li>
                     <li>
                        <a href="/gym" class="hover:text-highlight hover:tracking-wider trans-200">Gym</a>
                     </li>
                     <li>
                        <a href="/opera" class="hover:text-highlight hover:tracking-wider trans-200">Nhà hát
                           Opera</a>
                     </li>
                     <li>
                        <a href="/coffee" class="hover:text-highlight hover:tracking-wider trans-200">Coffee</a>
                     </li>
                  </ul>
               </div>
               <div class="flex flex-col gap-6">
                  <h4 class="uppercase font-body tracking-wider">Hệ thống rạp</h4>

                  <ul class="flex flex-col gap-4">
                     <li>
                        <a href="/book-tickets" class="hover:text-highlight hover:tracking-wider trans-200">Tất cả hệ
                           thống rạp</a>
                     </li>
                     @foreach (var theater in Model)
                     {
                        <li>
                           <a href="/book-tickets/@theater.Id"
                              class="hover:text-highlight hover:tracking-wider trans-200">@theater.Name</a>
                        </li>
                     }
                  </ul>
               </div>
            </div>
         </div>

         <div class="hidden md:block border-t border-white pt-6">
            <div class="flex justify-between">
               <p>© 2023 Cinestar. All rights reserved.</p>

               <div class="flex gap-9">
                  <a href="">Chính sách bảo mật</a>
                  <a href="">Tin điện ảnh</a>
                  <a href="">Hỏi và đáp</a>
               </div>
            </div>
         </div>
      </div>

      @* Bottom *@
      <div class="flex flex-col items-center text-center">
         <div class="max-w-[143px] mb-4">
            <img class="w-full h-full object-cover" src="/images/certificate.png" alt="certificate">
         </div>

         <p class="text-[10px]">CÔNG TY CỔ PHẦN GIẢI TRÍ PHÁT HÀNH PHIM – RẠP CHIẾU PHIM NGÔI SAO</p>
         <p class="text-[10px]">ĐỊA CHỈ: 135 HAI BÀ TRƯNG, PHƯỜNG BẾN NGHÉ, QUẬN 1, TP.HCM</p>
         <p class="text-[10px]">GIẤY CNĐKDN SỐ: 0312742744, ĐĂNG KÝ LẦN ĐẦU NGÀY 18/04/2014, ĐĂNG KÝ THAY ĐỔI LẦN THỨ 2
            NGÀY 15/09/2014, CẤP BỞI SỞ KH&ĐT TP.HCM</p>
      </div>
   </div>

   @* Floating footer in small screen *@
   <ul class="fixed z-10 flex md:hidden justify-around bottom-0 left-0 w-full h-[60px] bg-primary-tw fill-white
   text-[13px]">
      <li>
         <a href="/" class="flex flex-col h-full gap-1 items-center justify-center group">
            <svg height="20" class="wiggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M448 32H361.9l-1 1-127 127h92.1l1-1L453.8 32.3c-1.9-.2-3.8-.3-5.8-.3zm64 128V96c0-15.1-5.3-29.1-14-40l-104
   104H512zM294.1 32H201.9l-1 1L73.9 160h92.1l1-1 127-127zM64 32C28.7 32 0 60.7 0 96v64H6.1l1-1 127-127H64zM512
   192H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V192z" />
            </svg>
            <span>Lịch chiếu</span>
         </a>
      </li>
      <li>
         <a href="/" class="flex flex-col h-full gap-1 items-center justify-center group">
            <svg height="20" class="wiggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M176 56c0-13.3 10.7-24 24-24h16c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24zm24 48h16c13.3 0 24
   10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24zM56 176H72c13.3 0 24 10.7 24 24s-10.7 24-24
   24H56c-13.3 0-24-10.7-24-24s10.7-24 24-24zM0 283.4C0 268.3 12.3 256 27.4 256H484.6c15.1 0 27.4 12.3 27.4 27.4c0
   70.5-44.4 130.7-106.7 154.1L403.5 452c-2 16-15.6 28-31.8 28H140.2c-16.1 0-29.8-12-31.8-28l-1.8-14.4C44.4 414.1 0
   353.9 0 283.4zM224 200c0-13.3 10.7-24 24-24h16c13.3 0 24 10.7 24 24s-10.7 24-24 24H248c-13.3 0-24-10.7-24-24zm-96
   0c0-13.3 10.7-24 24-24h16c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24zm-24-96h16c13.3 0 24 10.7 24
   24s-10.7 24-24 24H104c-13.3 0-24-10.7-24-24s10.7-24 24-24zm216 96c0-13.3 10.7-24 24-24h16c13.3 0 24 10.7 24 24s-10.7
   24-24 24H344c-13.3 0-24-10.7-24-24zm-24-96h16c13.3 0 24 10.7 24 24s-10.7 24-24 24H296c-13.3 0-24-10.7-24-24s10.7-24
   24-24zm120 96c0-13.3 10.7-24 24-24h16c13.3 0 24 10.7 24 24s-10.7 24-24 24H440c-13.3 0-24-10.7-24-24zm-24-96h16c13.3 0
   24 10.7 24 24s-10.7 24-24 24H392c-13.3 0-24-10.7-24-24s10.7-24 24-24zM296 32h16c13.3 0 24 10.7 24 24s-10.7 24-24
   24H296c-13.3 0-24-10.7-24-24s10.7-24 24-24z" />
            </svg>
            <span>Bắp nước</span>
         </a>
      </li>
      <li>
         <a href="/" class="flex flex-col h-full gap-1 items-center justify-center group">
            <svg height="20" class="wiggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
               <path d="M64 64C28.7 64 0 92.7 0 128v64c0 8.8 7.4 15.7 15.7 18.6C34.5 217.1 48 235 48 256s-13.5 38.9-32.3 45.4C7.4 304.3 0
   311.2 0 320v64c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V320c0-8.8-7.4-15.7-15.7-18.6C541.5 294.9 528 277 528
   256s13.5-38.9 32.3-45.4c8.3-2.9 15.7-9.8 15.7-18.6V128c0-35.3-28.7-64-64-64H64zm64 112l0 160c0 8.8 7.2 16 16
   16H432c8.8 0 16-7.2 16-16V176c0-8.8-7.2-16-16-16H144c-8.8 0-16 7.2-16 16zM96 160c0-17.7 14.3-32 32-32H448c17.7 0 32
   14.3 32 32V352c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V160z" />
            </svg>
            <span>Đặt Vé</span>
         </a>
      </li>
      <li>
         <a href="/" class="flex flex-col h-full gap-1 items-center justify-center group">
            <svg height="20" class="wiggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
               <path d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7
   16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3
   .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z" />
            </svg>
            <span>Khuyến mãi</span>
         </a>
      </li>
      <li>
         <a href="/" class="flex flex-col h-full gap-1 items-center justify-center group">
            <svg height="20" class="wiggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7
   143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
            </svg>
            <span>Tài khoản</span>
         </a>
      </li>
   </ul>
</footer>