@page "/search"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Search";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Home.Search.SearchModel

<div class="text-center">
    <h1 class="display-4">Search</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-21">
        @foreach (var theater in Model.Theaters)
        {
            <div>

            </div>
        }
    </div>
</div>
