@page "/movie/upcoming"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Upcoming";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<div class="text-center">
    <h1 class="display-4">Upcoming</h1>
</div>
