@page "/movie/upcoming"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Upcoming";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Movie.MovieUpcoming.MovieUpcomingModel

<div class="text-center">
    <h1 class="display-4">Upcoming</h1>

    @foreach (var movie in Model.Movies)
    {
        <div>@movie.Title</div>
    }
</div>
