@page "/movie/upcoming"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Upcoming";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Movie.MovieUpcoming.MovieUpcomingModel
<link rel="stylesheet" href="~/css/index.css">
<div class="Comming-soon mt-10">
    <div class="Comming-soon-title">
        <h2>PHIM SẮP CHIẾU</h2>
    </div>
    <div class="Soon">
        <div class="Movie-comming-soon">
            <ul id="movieList" class="w-full mx-auto">
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F07-2024%2Ftin-hieu-vu-tru.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">TÍN HIỆU VŨ TRỤ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:hidden sm:mr-2 hidden ">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 flex-wrap text-white px-4 py-2 rounded">Tìm
                                    hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F07-2024%2Floc-xoay-tu-than-new-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">
                                LỐC XOÁY TỬ THẦN</span>
                        </div>
                        <div class="Infor-trailer w-full  flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F07-2024%2Fbe-ma-cua-anh-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">BÉ MA CỦA ANH </span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Fbeetle-juice-ma-sieu-quay.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">MA SIÊU QUẬY </span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fchang-nu-phi-cong.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">CHÀNG NỮ PHI CÔNG</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Fkhong-noi-dieu-du-poster.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">KHÔNG NÓI ĐIỀU DỮ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fquai-vat-khong-gian.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">QUÁI VẬT KHÔNG GIAN</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Flam-giau-voi-ma-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">LÀM GIÀU VỚI MA</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <ul id="movieList" class="w-full mx-auto">
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F07-2024%2Fhello-jadoo-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">XIN CHÀO JADOO: ĐẠI DƯƠNG DIỆU KỲ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:hidden sm:mr-2 hidden ">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 flex-wrap text-white px-4 py-2 rounded">Tìm
                                    hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F07-2024%2Fdeadpool-va-wolverine.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">
                                DEADPOOL & WOLVERINE 3D</span>
                        </div>
                        <div class="Infor-trailer w-full  flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F07-2024%2Fborn-pink.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">BLACKPINK WORLD TOUR </span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fharold.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">HAROLD & CÂY BÚT PHÉP THUẬT </span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fchang-nu-phi-cong.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">CHÀNG NỮ PHI CÔNG</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Fkhong-noi-dieu-du-poster.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">KHÔNG NÓI ĐIỀU DỮ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fquai-vat-khong-gian.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">QUÁI VẬT KHÔNG GIAN</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Flam-giau-voi-ma-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">LÀM GIÀU VỚI MA</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <ul id="movieList" class="w-full mx-auto">
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fchang-nu-phi-cong.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">CHÀNG NỮ PHI CÔNG</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:hidden sm:mr-2 hidden ">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 flex-wrap text-white px-4 py-2 rounded">Tìm
                                    hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fquai-vat-khong-gian.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">
                                QUÁI VẬT KHÔNG GIAN</span>
                        </div>
                        <div class="Infor-trailer w-full  flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fma-da-teaser-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">MA DA </span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Fkhong-noi-dieu-du-poster.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">KHÔNG NÓI ĐIỀU DỮ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fchang-nu-phi-cong.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">CHÀNG NỮ PHI CÔNG</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Fkhong-noi-dieu-du-poster.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">KHÔNG NÓI ĐIỀU DỮ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fquai-vat-khong-gian.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">QUÁI VẬT KHÔNG GIAN</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Flam-giau-voi-ma-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">LÀM GIÀU VỚI MA</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <ul id="movieList" class="w-full mx-auto">
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Flam-giau-voi-ma-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">LÀM GIÀU VỚI MA</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:hidden sm:mr-2 hidden ">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 flex-wrap text-white px-4 py-2 rounded">Tìm
                                    hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Ftransformer-one.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">
                                TRANSFORMERS MỘT</span>
                        </div>
                        <div class="Infor-trailer w-full  flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F10-2024%2Fngay-xua-co-1-chuyen-tinh.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">NGÀY XƯA CÓ MỘT CHUYỆN TÌNH </span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F10-2024%2Fjoker.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">JOKER: ĐIÊN CÓ ĐÔI</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fchang-nu-phi-cong.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">CHÀNG NỮ PHI CÔNG</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F09-2024%2Fkhong-noi-dieu-du-poster.jpg&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">KHÔNG NÓI ĐIỀU DỮ</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Fquai-vat-khong-gian.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">QUÁI VẬT KHÔNG GIAN</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li style="width:28%;" class="w-full sm:w-1/2 lg:w-1/3 p-2">
                    <a href="/movie/{id}" class="block">
                        <img class="w-full border border-solid border-gray-200 rounded-md"
                            src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2Fwysiwyg%2FPosters%2F08-2024%2Flam-giau-voi-ma-poster.png&w=1920&q=75"
                            alt="gia tai cua ngoai">
                        <div class="name-movie mt-2">
                            <span class="Blograsoul_title text-center">LÀM GIÀU VỚI MA</span>
                        </div>
                        <div class="Infor-trailer flex justify-center flex-wrap mt-2">
                            <div class="trailer-movie mb-2 w-full sm:w-auto sm:mr-2">
                                <div class="icon-trailer hidden sm:block ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                    </svg>
                                </div>
                                <div class="watch-trailer hidden sm:block  ">
                                    <p class="text-sm">Xem Trailer</p>
                                </div>
                            </div>
                            <div class="order-ticket-2 w-full sm:w-auto">
                                <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Tìm hiểu
                                    thêm</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>