
.Admin_All{
   background-color: aliceblue;
   margin-top: 0 !important;
}
.Admin_All_table {
   justify-content: center;
}
.Management_Add_Movie {
   align-items: center;
   border: 1px solid #000;
   border-radius: 10px;
   background-color: aquamarine;
   padding: 5px;  
}
.close-btn {
   cursor: pointer;
   color: red;
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
}
table {
   width: 100%;
   border-collapse: collapse;
}
th,
td {
   border: 1px solid black;
   padding: 8px;
   text-align: center;
}
.Admin_All_toolbar {
   background-color: #35355c;
}
.Admin_list-items {
   padding: 20px;
}
.Admin_All_table_movie th {
   background-color: grey;
}
.movie-form {
   display: none;
   border: 1px solid #ccc;
   padding: 16px;
   margin-top: 20px;
   background-color: #f9f9f9;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   max-width: 800px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   z-index: 1000;
   background-color: #fff;
}


.close-btn {
   cursor: pointer;
   font-size: 24px;
}
.form-left,
.form-right,
.form-center {
   display: inline-block;
   vertical-align: top;
}
.form-left {
   width: 25%;
   text-align: center;
}
.form-center {
   width: 50%;
}
.form-right {
   width: 25%;
}
.form-left .image-upload {
   border: 1px dashed #ccc;
   padding: 20px;
   cursor: pointer;
}
.form-left .image-upload input {
   display: none;
}
.form-left .image-upload label {
   font-size: 48px;
}
.form-center label, .form-right label {
   display: block;
   margin-top: 10px;
}
.form-center input, .form-right input,
.form-center select, .form-right select,
.form-center textarea, .form-right textarea {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
}
.form-bottom {
   clear: both;
   margin-top: 20px;
}
.form-bottom label {
   display: block;
}
.form-bottom textarea {
   width: 100%;
   height: 100px;
   padding: 8px;
   margin-top: 5px;
}
button[type="submit"] {
   display: block;
   width: 10%;
   padding: 10px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: auto;
   margin-top: 20px;
 
}
.form-center input {
   width: 40%;
   height: 30px;
}  
.form-right input {
   width: 40%;
   height: 30px;
}  

.form-right input {
   width: 100%;
   height: 30px;
}
.Admin_All
{
   display:flex;
   gap:10px;
}
.Admin_All_table
{
   width: 80%;
   text-align:center;
}
.Admin_All_table_Listadd
{
   color: #000;
   display:flex;
   justify-content:space-between;
   margin-top:70px;
   padding:10px;
}
.movie-form
{
   display: none;
    margin-top: 20px;
}
.Admin_All_table_movie
{
   color: #000;
   border:1px solid #000;
   border-radius:10px;
   margin:auto;
}
.Admin_All_toolbar
{
   width: 20%;
   align-items:center;
   height:700px;
}
.Admin_All_toolbar_logo
{
   padding: 10px;
   width:50%;
   margin:auto;
}
.Admin_All_toolbar_list
{
   margin: auto;
   width:70%;
   height:100%;
}



