.cinestar-system-detail {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: #0F172A;
        z-index: -20;
    }
}

.cinestar-system-detail-wr .bg {
    position: relative;
    display: block;
    
    width: 100%;
    height: auto;
    margin-bottom: 8rem;
    position: relative;


    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 50px;
    }
}

.cinestar-system-detail-wr .bg .logo {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 5;
    width: 10%;

}

.cinestar-system-detail-wr .content {
    text-align: center;
    max-width: 84rem;
    margin: 0 auto 4rem;
}

.cinestar-system-detail-wr .content .text {
    font-weight: 600;
}

.cinestar-system-detail-wr .heading {
    width: max-content;
    margin: 0 auto 2.4rem;
}

.address-box-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.address-box-head .icon {
    font-size: 1.8rem;
    transition: .3s ease-in-out;
    display: block;

}

.address-box.active .icon {
    transform: rotate(180deg);
}



.opera-house .address-item {
    margin: 0 auto;
}

.opera-house .address-list {
    margin-bottom: 0;
}

.address-item .link {
    transition: all .2s;

    .ic {
        transition: all .2s;
    }

    &:hover {

        .ic {
            transform: scale(1.2);
        }
    }
}

.cinestar-system-detail .address-item .link {
    word-break: break-word;
}

.address-box {
    padding: 2.4rem;
    background: linear-gradient(106deg, rgba(102, 51, 153, 0.80) 0%, rgba(51, 102, 204, 0.80) 102.69%);
    text-align: left;
    height: 100%;
}


.address-box .item {
    margin-bottom: 0.8rem;
}

.address-item .list {
    margin-top: 1.2rem;
}

.address-box .item:nth-child(2) .link {
    text-decoration: underline;
    text-underline-position: under;
}

.address-box .link {
    display: flex;
    align-items: center;
    gap: 0 0.8rem;
    pointer-events: visible;
}

.address-box .link .ic {
    img {
        width: 1.6rem;
        height: 1.6rem;
    }
}


.enter-content .item {
    &:not(:last-child) {
        margin-bottom: 2.4rem;

    }
}

.enter-content .item .bg {
    &:hover {
        box-shadow: 0 0.5rem 1.5rem #E3D530;
    }
}


.enter-content .item .bg {
    display: block;
    padding-top: calc(202/1216*100%);
    border-radius: var(--rs);
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;

    mobile {
        padding-top: calc(135/350*100%);
    }

    &:hover {

        img {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .6s ease-in-out;
    }

    .img-enter-des {
        mobile {
            display: none;
        }
    }

    .img-enter-mobile {
        mobile-min {
            display: none;
        }
    }
}
.pt-32 {
    padding-top: 3.2rem;
}

.pb-32 {
    padding-bottom: 3.2rem;
}

.pt-16 {
    padding-top: 1.6rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}

.pt-80 {
    padding-top: var(--sp-sc);
}

.pb-80 {
    padding-bottom: var(--sp-sc);
}

.mt-80 {
    margin-top: 8rem;

}

.mb-80 {
    margin-bottom: 8rem;

}

.pt-100 {
    padding-top: 10rem;

}

.pb-100 {
    padding-bottom: 10rem;


}

.mg-auto {
    margin-left: auto;
    margin-right: auto;
}

.sc-pd{
    padding: var(--pd-sc) 0;
}

.sc-pd-t{
    padding-top: var(--pd-sc);
}

@import url("./fonts/Josefin_Sans/stylesheet.css");
@import url("./fonts/Anton/stylesheet.css");
@import url("./fonts/Inter/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;

    @media screen and (min-width: 2000px) {
        font-size: 100%;
    }
}

body {
    font-family: var(--font-pri);
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
    overflow: hidden auto;
    min-height: 100vh;
    &::before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -10;
      background-color: #0F172A;
    }

    @media screen and (min-width: 2000px) {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button,
select {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    cursor: pointer;

}

button {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.app-main,
.main {
    padding-top: var(--sz-hd);
    position: relative;
    min-height: 68vh;
}

.container {
    width: 100%;
    max-width: var(--w-container);
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--pd-container);
}

.no-scroll {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

.cursor-def {
    cursor: default !important;
}

iframe {
    vertical-align: middle;
}

img {
    width: 100%;
    height: auto;
    display: block;
    transition: all .2s;
}
.heading {
    font-family: var(--font-title);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.title {
    font-size: 4rem;
}

.sub-tittle {
    font-size: 2.4rem;
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.txt-lg {
    font-size: 2rem;
    font-weight: 700;
}

.txt-sm {
    font-size: 1.4rem;
}

.txt-upper {
    text-transform: uppercase;
}

.txt-ita {
    font-style: italic;
}

.txt-center {
    text-align: center;
}

.sec-heading {
    margin-bottom: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 4rem;
    @include max(1200px) {
        margin-bottom: 3.2rem;
        margin-top: 3.2rem;
    }
    @include max(768px) {
        margin-bottom: 0;
        margin-top: 2rem;
        gap: 0.8rem;
    }

}
.row {
    --col-gap: 2.4rem;
    --row-gap: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.col {
    width: 100%;
    padding: 0 calc(var(--col-gap) / 2);
    margin-bottom: var(--row-gap);
}
.col-11 {
    width: calc(11/12 * 100%);
}
.col-10 {
    width: calc(10/12 * 100%);
}
.col-9 {
    width: calc(9/12 * 100%);
}
.col-8 {
    width: calc(8/12 * 100%);
}
.col-7 {
    width: calc(7/12 * 100%);
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: calc(5/12 * 100%);
}
.col-4 {
    width: calc(4/12 * 100%);
}
.col-3 {
    width: calc(3/12 * 100%);
}
.col-2 {
    width: calc(2/12 * 100%);
}
.col-1 {
    width: calc(1/12 * 100%);
}
    
.item{
    :hover{
        color: #E3D530;
    }
}

   
