header {
    display: none;
 }
 footer {
    display: none;
 }
 main {
    background-color: aliceblue;
    margin-top: 0 !important;
 }
.Customer_All_toolbar {
   background-color: #35355c;
}
table {
   width: 100%;
   border-collapse: collapse;
}
th,
td {
   border: 1px solid black;
   padding: 8px;
   text-align: center;
}
.Customer_list-items {
   padding: 20px;
}