.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

.close-btn {
  cursor: pointer;
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.Export_Movie {
  display: flex;
  gap: 10px;
  width: 100%;
}
.Export__table {
  width: 80%;
  text-align: center;
}
.Export_All_table_Listadd {
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 10px;
}
.Export_All_toolbar {
  width: 20%;
  align-items: center;
  height: 900px;
}
.Export_All_toolbar_logo {
  padding: 10px;
  width: 50%;
  margin: auto;
}
.Export_All_toolbar_list {
  margin: auto;
  width: 70%;
  height: 100%;
}
