* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Anton, sans-serif;
}
main {
  width: 100%;
}
body {
  background: linear-gradient(to right, #0f172a, #0f172a 20%, #234389 80%, #234389);
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.Book-your-tiket-now,
.Send-Now,
.Find-Out-Now-Friend,
.Find-Out-Now-Vip {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 60px;
  display: inline-block;
  position: absolute;
  background-color: #f3ea28;
  color: black;
  transition: background-color 1s ease-in-out;
}
.All-Offers {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  width: 20%;
  text-align: center;
  background-color: #f3ea28;
  color: black;

  transition: background-color 1s ease-in-out;
}
.Book-your-tiket-now:hover,
.All-Offers:hover,
.Send-Now:hover,
.Find-Out-Now-Friend:hover,
.Find-Out-Now-Vip:hover {
  background-color: rgb(118, 44, 118);
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-image: 0 100%;
  background-image: linear-gradient(to right, rgba(118, 44, 118, 0), rgba(118, 44, 118, 1));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.DiscountCarousel h2 {
  color: #fff;
}
.carousel_image {
  width: 50%;
}
.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.slide_nomain_four_image {
  position: relative;
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.slide_nomain_four_image img {
  flex-shrink: 0;
  width: 30%;
  height: auto;
  object-fit: cover;
  padding: 30px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;

  font-size: 20px;
  transition: 3s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.MemberProgramBanner {
  background-image: url("https://cinestar.com.vn/_next/image/?url=%2Fassets%2Fimages%2Fbg-cfriends.jpg&w=640&q=75");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 800px;
  width: 100%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.image-item img {
  width: auto;
  height: auto;
}
.ct-social {
  display: flex;
  gap: 20px;
}
.ct-social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: color 0.3s, transform 0.3s;
}

.ct-social-link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: transform 0.3s;
}
.ct-social-link .txt {
  font-size: 16px;
}
.ct-social-link:hover {
  color: #007bff;
  transform: scale(1.1);
}
.ct-social-link:hover img {
  transform: scale(1.1);
}

.social-button {
  display: flex;
  align-items: center;
}

.social-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}

.social-button img {
  width: 40px;
  height: 40px;
}

.social-button .txt {
  color: white;
  font-size: 18px;
}

.social-button a:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  transform: scale(1.05);
}



.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.social-button.facebook {
  background-color: #3b5998;
}

.social-button.zalo {
  background-color: #0088ff;
}

.social-button img {
  height: 40px;
  width: 40px;
}

.social-button{
  font-size: 1.5em;
}

.social-button:hover {
  opacity: 0.8;
}

.contact-form {
  background-color: #3366cccc;
  color: #fff;
  z-index: 0;
}

.contact-form .form-label {
  font-size: 1.2em;
}

.contact-form .btn {
  font-size: 1em;
  padding: 10px 20px;
}

.container {
  width: 90%;
}
.name-movie{
  text-align: center;
}
.Blograsoul_title{
  font-size: 20px;
  text-align: center;
}
@media(max-width:1111px)
{
  .Blograsoul_title{
    font-size: 13px ;
    text-align: center;
  }
}
@media screen and (min-width:300px) { 
  .Member-C-Friend-two h2 
  {
    font-size: 18px;
    text-align: center;
  }
  .Member-C-Friend-two p
{
  font-size: 14px;

}  
.Find-Out-Now-Friend
{
  padding: 5px 10px;
}

}
.order-ticket
{
  margin-top: -5px;
  padding: 5px 22px;
}

.member-img {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.member-img div {
  width: 25%;
  height: auto;
  border-radius: 10px;
}
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.Book-your-tiket-now {
  position: absolute;
  bottom: 10%;
  right: 15%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}
.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item-1 {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item-1 img {
  width: 100%;
}

.carousel-item-2 {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item-2 img {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: 2px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.Book-your-tiket-now {
  position: absolute;
  bottom: 3%;
  right: 15%;
  transform: translateY(-50%);
  color: #000;
  background-color: #f3ea28;
  cursor: pointer;
  padding: 5px 50px;
  vertical-align: baseline;
  font-size: small;
}

.book-ticket-quickly-sub {
  display: flex;
  border-radius: 5px;
  background-color: #fff;
}

.book-ticket-quickly {
  margin-top: 30px;
  width: 100%;
}

.button-book-ticket {
  justify-content: center;
}

.button-book-ticket {
  color: #fff;
  padding: 12px 10px;
  background-color: #663399;
  font-size: 14px;
  border-radius: 10px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item-1 {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item-1 img {
  width: 100%;
}

.carousel-item-2 {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item-2 img {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: 2px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.Book-your-tiket-now {
  position: absolute;
  bottom: 3%;
  right: 15%;
  transform: translateY(-50%);
  color: #000;
  background-color: #f3ea28;
  cursor: pointer;
  padding: 5px 50px;
  vertical-align: baseline;
  font-size: small;
}

.book-ticket-quickly {
  margin-top: 30px;
  width: 100%;
}
.book-ticket-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.book-ticket-title {
  font-size: 22px;
  color: #000;
  margin: 0;
}

.book-ticket-choose {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.book-ticket-choose {
  color: #000;

  padding: 10px 5px;
}

.button-book-ticket {
  justify-content: center;
}

.button-book-ticket {
  color: #fff;
  padding: 12px 10px;
  background-color: #663399;
  font-size: 14px;

  border-radius: 10px;
}
.book-ticket-choose-cinema,
.book-ticket-choose-movie {
  color: #663399;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.book-ticket-choose-movie-nav {
  position: absolute;
  bottom: 50px;
  background-color: #fff;
  color: #000;
  width: 100%;
  display: none;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.book-ticket-choose-date {
  color: #663399;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.book-ticket-choose-date-nav {
  position: absolute;
  left: 0;
  bottom: 50px;
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 5px;
  display: none;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-ticket-choose-date-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
}

.book-ticket-choose-date-nav ul li {
  margin: 5px 0;
}

.book-ticket-choose-date-nav ul li a {
  color: #000;
  text-decoration: none;
}
.book-ticket-choose-time {
  color: #663399;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.book-ticket-choose-time-nav {
  position: absolute;
  left: 0;
  bottom: 50px;
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 5px;
  display: none;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;

  align-items: center;
}

.book-ticket-choose-time-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.book-ticket-choose-time-nav ul li {
  margin: 5px 0;
}

.book-ticket-choose-time-nav ul li a {
  color: #000;
  text-decoration: none;
}
.order-ticket button:hover {
  background-color: #663399;
}
.More-Movie {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  width: 20%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: #f3ea28;
  transition: background-color 1s ease-in-out;
}
.More-Movie:hover {
  background-color: orange;
  color: #fff;
}
#Slide_Blogcarousel {
  transition: transform 0.5s ease-in-out;
}
.contact-form {
  background: #2c57ac;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  color: #fff;
}

.contact-form h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #fff;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  padding: 5px 45px;
  background: #f3ea28;
  border: none;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(118, 44, 118);
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-image: 0 100%;
  background-image: linear-gradient(to right, rgba(118, 44, 118, 0), rgba(118, 44, 118, 1));
}
.contact-form {
  background: #2c57ac;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  color: #fff;
}


.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  padding: 5px 45px;
  background: #f3ea28;
  border: none;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(118, 44, 118);
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-image: 0 100%;
  background-image: linear-gradient(to right, rgba(118, 44, 118, 0), rgba(118, 44, 118, 1));
}
