@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
}

.trans-200 {
  @apply transition-all duration-200;
}

.trans-300 {
  @apply transition-all duration-300;
}

.trans-500 {
  @apply transition-all duration-500;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.wiggle {
  @apply group-hover:animate-scale-wiggle trans-200 group-hover:scale-[1.2];
  @apply hover:animate-scale-wiggle trans-200 hover:scale-[1.2];
  transform-origin: center;
}

@media (min-width: 900px) {
  .md\:bg-gradient {
    background: linear-gradient(106deg, #639, #36c 102.69%);
  }
}

.wiggle-0 {
  @apply group-hover:animate-wiggle trans-200;
  @apply hover:animate-wiggle trans-200;
  transform-origin: center;
}

.wiggle-1 {
  @apply hover:animate-scale-wiggle trans-200 hover:scale-[1.2];
  transform-origin: center;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body a {
  text-decoration: none;
  color: white;
}

svg path {
  fill: inherit;
}

.float-up {
  opacity: 0;
  animation: float-up 0.3s ease-in-out forwards;
}

@keyframes float-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.float-down {
  opacity: 1;
  animation: float-down 0.3s ease-in-out forwards;
}

@keyframes float-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fade-out 0.3s ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.circle-right {
  animation: circle-right 1s ease-in-out forwards;
}

.circle-right-reverse {
  animation: circle-right 1s ease-in-out forwards reverse;
}

@keyframes circle-right {
  0% {
    transform: rotate(-135deg);
  }

  50%,
  100% {
    transform: rotate(45deg);
  }
}

.circle-left {
  animation: circle-left 1s ease-in-out forwards;
}

.circle-left-reverse {
  animation: circle-left 1s ease-in-out forwards reverse;
}

@keyframes circle-left {
  0%,
  35% {
    transform: rotate(-135deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
