@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
}

.trans-200 {
  @apply transition-all duration-200;
}

.trans-300 {
  @apply transition-all duration-300;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body a {
  text-decoration: none;
  color: white;
}

svg path {
  fill: inherit;
}

.float-up {
  opacity: 0;
  animation: float-up 0.3s ease-in-out forwards;
}

@keyframes float-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.float-down {
  opacity: 1;
  animation: float-down 0.3s ease-in-out forwards;
}

@keyframes float-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fade-out 0.3s ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
  