.Showtime-movie-right-cinema4,
.Showtime-movie-right-cinema3,
.Showtime-movie-right-cinema2,
.Showtime-movie-right-cinema1 {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Showtime-movie-left {
  margin-left: 0;
}

.container4,
.container3,
.container2,
.container1 {
  padding: 20px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.cinema-name4,
.cinema-name3,
.cinema-name2,
.cinema-name1 {
  font-weight: bold;
}

.cinema-address4,
.cinema-address3,
.cinema-address2,
.cinema-address1 {
  font-size: 16px;
  margin: 10px 0;
}

.showtime4,
.showtime3,
.showtime2,
.showtime1 {
  background-color: #323657;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 13px;
}

hr {
  border: 0;
  height: 1px;
  background: #fff;
  margin: 10px 0;
}
.order-ticket button {
  padding: 7px 25px;
  border: solid 1px #000;
  background-color: #f3ea28;
  color: #000;
  border-radius: 5px;
  text-align: center;
}
