@page "/about-us"
@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>
