@page "/billiard"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Billiard";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<link rel="stylesheet" href="~/css/allentertainment.css" />
<div class="cinestar-system-detail-wr billiard-wr txt-center mg-auto">
    <div class="bg" data-aos="fade-up">

        <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Service/bg-billiard_1_.jpg" alt="">
        <span class="logo">

    </div>
    <div class="content" data-aos="fade-up">
        <h2 class="heading">BILLIARD</h2>
        <p class="text">Tận hưởng niềm vui ở thành phố Đà Lạt, Huế và Mỹ Tho.<br>Thử thách bản thân và những người bạn
            tại C'Billiards, Trung tâm tọa lạc tại vị trí thuận tiện trong khu phức hợp rạp chiếu phim Cinestar.<br>Làm
            chủ trò chơi: Rèn luyện kỹ năng của bạn với các khu vực chơi rộng rãi và các bàn chơi được bảo trì tốt định
            kỳ.<br>Nâng tầm trò chơi của bạn: Tham gia các giải đấu giao hữu được tổ chức thường xuyên để kiểm tra khí
            phách của bạn và kết nối với cộng đồng bida tại địa phương.<br>Thư giãn và vui chơi: Tận hưởng bầu không khí
            thoải mái và thân thiện, hoàn hảo cho người chơi ở mọi cấp độ.<br>C'Billiards - Nơi mỗi cú đánh là cơ hội để
            kết nối và vui chơi!
        </p>
    </div>
    <div class="address-list row collapseBlockJS">
        <div class="address-item col col-6 collapseItem active" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">HUẾ</h4><i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item"><a class="link" href="https://maps.app.goo.gl/TU3fyNWzC36uWHvY6"
                            target="_blank"><span class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">25 Hai Bà Trưng, Phường
                                Vĩnh Ninh, TP.Huế</span></a></li>

                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarHue"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">https://www.facebook.com/CinestarHue</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">MỸ THO</h4><i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item"><a class="link" href="https://maps.app.goo.gl/yzmcyxYB8FJRqY2J8"
                            target="_blank"><span class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">52 Đinh Bộ Lĩnh, Phường 3, Thành phố
                                Mỹ Tho</span></a></li>

                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarMyTho"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">https://www.facebook.com/CinestarMyTho</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">ĐÀ LẠT</h4><i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" href="https://maps.app.goo.gl/ac87TGs9pcoREvQVA" target="_blank"><span
                                class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">Quảng trường Lâm Viên,
                                Thành phố Đà Lạt</span></a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarDaLat"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">https://www.facebook.com/CinestarDaLat</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">TÂY NINH</h4><i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item"><a class="link" href="https://maps.app.goo.gl/3ns17DJxfGe9NjuX9"
                            target="_blank"><span class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">TTC Plaza Tây Ninh, 217 - 219 đường
                                30/4, phường 2, Tây Ninh</span></a></li>

                    <li class="item">
                        <a class="link" target="_blank" href="javascript:;"><span class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">Coming soon...</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>