@page "/bowling"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Bowling";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User


<link rel="stylesheet" href="~/css/bowling.css">

<div class="min-h-screen pt-16 px-21 pb-28 bg-gradient-to-b from-[#0f172a] to-[#283247]">
    <div class="Container">
        <div class="img-bowling">
            <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/bowling/bowling.png" alt="">
        </div>
        <div class="Box">
            <div class="Content">
                <div class="Heading-Bowling">
                    <h1>BOWLING</h1>
                    <div class="Document-Bowling">
                        <p class="text">Tận hưởng niềm vui tại C'Bowling - Thành phố Đà Lạt & Huế!</p>
                        <p class="text">Chinh phục nhà vô địch bên trong bạn tại C'Bowling, điểm đến bowling hàng đầu
                            của Đà
                            Lạt
                            và Huế!
                            Trung tâm nằm tại vị trí thuận tiện trong khu phức hợp rạp chiếu phim Cinestar</p>
                        <p class="text">Trung tâm có đội ngũ nhân viên sẵn sàng hướng dẫn các kỹ năng cơ bản dành cho
                            Khách
                            mới
                            bắt đầu.</p>
                        <p class="text">Thử thách bản thân bằng cách tham gia các giải đấu giao hữu được tổ chức thường
                            xuyên
                            của Trung tâm.
                        </p>
                        <p class="text">Trải nghiệm các thiết bị chuyên nghiệp để có một trò chơi không thể đánh bại.
                        </p>
                        <p class="text">Niềm vui thân thiện với gia đình: Tạo ra những kỷ niệm lâu dài mà cả gia đình sẽ
                            cùng
                            tận hưởng.</p>
                        <p class="text">C'Bowling - Nơi những cú đánh và những khoảnh khắc vui vẻ giao thoa!</p>
                    </div>
                </div>
            </div>
            <div class="Address-Cine">
                <div class="HUE">
                    <h1>Huế</h1>
                    <a href="https://maps.app.goo.gl/PkBer2uqwVzdRvrU9" target="_blank">
                        <p>25 Hai Bà Trưng, Phường
                            Vĩnh Ninh, TP.Huế</p>
                    </a>
                    <a href="https://www.facebook.com/Bowlingbidahue" target="_blank"
                        style="  text-decoration: underline;">
                        <p>https://www.facebook.com/Bowlingbidahue</p>
                    </a>
                </div>
                <div class="DALAT">
                    <h1>Đà lạt</h1>
                    <a href="https://maps.app.goo.gl/3oobhof47oG6uTQF9" target="_blank">
                        <p>Quảng trường Lâm Viên, Thành phố Đà Lạt</p>
                    </a>
                    <a href="https://www.facebook.com/CinestarBowling" target="_blank"
                        style="  text-decoration: underline;">
                        <p>https://www.facebook.com/CinestarBowling</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
