@page "/coffee"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Coffee";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<link rel="stylesheet" href="~/css/allentertainment.css" />
<div class="cinestar-system-detail-wr coffee-wr txt-center mg-auto">
    <div class="bg" data-aos="fade-up">
        <img src="https://api-website.cinestar.com.vn/media/.renditions/wysiwyg/CMSPage/Coffee/coffee-banner.png"
            alt="">
        <span class="logo">
            <img srcset="https://api-website.cinestar.com.vn/media/.renditions/wysiwyg/CMSPage/Coffee/logo-cinestar.png"
                alt="">
        </span>
    </div>
    <div class="content" data-aos="fade-up">
        <h2 class="heading">COFFEE</h2>
        <p class="text">Nhâm nhi, thưởng thức và kết nối tại C'Coffee - Góc cà phê ấm cúng của Cinestar!</p>
        <p class="text">Thư giãn và kết nối trước hoặc sau bộ phim của bạn tại C'Coffee, tọa lạc tại vị trí thuận tiện
            trong khu phức hợp Cinestar.</p>
        <p class="text">Khám phá thực đơn phong phú của chúng tôi bao gồm các loại đồ uống cà phê, trà giải khát và đồ
            ăn nhẹ ngon miệng.</p>
        <p class="text">Không khí thư giãn: Hãy chọn cho mình góc nhỏ thoải mái và tận hưởng một không gian yên tĩnh -
            hoàn hảo để gặp gỡ bạn bè, một buổi hẹn hò bình thường hoặc một khoảnh khắc yên bình.</p>
        <p class="text">C'Coffee - Nơi mỗi tách cà phê khơi dậy sự kết nối.</p>
    </div>
    <div class="address-list row collapseBlockJS">
        <div class="address-item col col-6 collapseItem active" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">QUỐC THANH</h4>
                    <i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" target="_blank" href="https://maps.app.goo.gl/tfkaz5GB3dMWmm8q9">
                            <span class="ic">
                                <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt="">
                            </span>
                            <span class="txt">
                                271 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarQuocThanh">
                            <span class="ic">
                                <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt="">
                            </span>
                            <span class="txt">https://www.facebook.com/CinestarQuocThanh</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">HAI BÀ TRƯNG</h4>
                    <i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" href="https://maps.app.goo.gl/to93g9tniRvHtVUj6" target="_blank">
                            <span class="ic">
                                <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt="">
                            </span>
                            <span class="txt">135 Hai Bà Trưng, Phường Bến Nghé, Quận 1</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarHaiBaTrung"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span
                                class="txt">https://www.facebook.com/CinestarHaiBaTrung</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">ĐÀ LẠT</h4>
                    <i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" href="https://maps.app.goo.gl/ac87TGs9pcoREvQVA" target="_blank"><span
                                class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">Quảng trường Lâm Viên,
                                Thành phố Đà Lạt</span></a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarDaLat"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">https://www.facebook.com/CinestarDaLat</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">LÂM ĐỒNG (ĐỨC TRỌNG)</h4>
                    <i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" href="https://maps.app.goo.gl/4CB8q19tGKuG18vGA"><span class="ic">
                                <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">713 QL20, Liên Nghĩa Đức
                                Trọng, Lâm Đồng</span></a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarDucTrong"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">https://www.facebook.com/CinestarDucTrong</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">KIÊN GIANG</h4>
                    <i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" href="https://maps.app.goo.gl/GGS6svQTco68Nfy89" target="_blank"><span
                                class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">TTTM Rạch Sỏi, Phường Rạch
                                Sỏi, TP. Rạch Giá</span></a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/CinestarKienGiang"><span
                                class="ic"><img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span
                                class="txt">https://www.facebook.com/CinestarKienGiang</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="address-item col col-6 collapseItem" data-aos="fade-up">
            <div class="address-box">
                <div class="address-box-head collapseHead">
                    <h4 class="sub-tittle txt-upper">BÌNH DƯƠNG</h4>
                    <i class="fa-solid fa-angle-down icon"></i>
                </div>
                <ul class="list collapseBody">
                    <li class="item">
                        <a class="link" href="https://maps.app.goo.gl/WinCcQWMzSpnsSEy6" target="_blank"><span
                                class="ic"> <img
                                    src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                    alt=""></span><span class="txt">Nhà văn hóa Sinh Viên,
                                ĐHQG Thành phố Hồ Chí Minh</span></a>
                    </li>
                    <li class="item">
                        <a class="link" target="_blank" href="https://www.facebook.com/cinestarsv"><span class="ic">
                                <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                    alt=""></span><span class="txt">https://www.facebook.com/cinestarsv</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>