@page "/kidzone"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Kidzone";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User
<style>
    body {
        background: linear-gradient(to right, #0f172a, #0f172a 20%, #234389 80%, #234389);
    }
</style>
<link rel="stylesheet" href="~/css/allentertainment.css" />
<div class="container">
    <div class="cinestar-system-detail-wr kidzone-wr txt-center mg-auto">
        <div class="bg" data-aos="fade-up">

            <img src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Service/bg-kidzone_1_.jpg" alt="">


        </div>
        <div class="content" data-aos="fade-up">
            <h2 class="heading">KIDZONE</h2>
            <div class="text">
                <p> </p>Giải phóng trí tưởng tượng của con bạn tại Kidzone, sân chơi trong nhà tuyệt đỉnh.&nbsp;<br>Hãy
                để các bé khám phá một thế giới vui nhộn và khám phá tại Kidzone, khu vui chơi trong nhà rộng rãi được
                thiết kế dành cho trẻ em ở mọi lứa tuổi.<br>C’Kidzone cung cấp hơn 25 trò chơi đa dạng và hấp dẫn, bao
                gồm các hồ banh kết hợp chướng ngại vật đầy thử thách và mảng tường leo núi thú vị. Tất cả các thiết bị
                đều được chọn lọc kỹ và cẩn thận để đảm bảo môi trường vui chơi an toàn cho các bé.<br>C’Kidzone không
                chỉ là một không gian vui chơi giải trí, chúng tôi còn cung cấp một không gian sôi động, nơi các bé có
                thể kết bạn mới, phát triển các kỹ năng thể chất và khơi dậy khả năng sáng tạo. C’Kidzone có thêm dịch
                vụ trọn gói nhận tổ chức tiệc, sự kiện cho các bé<br>Hãy để bé yêu của bạn tận hưởng những trải nghiệm
                tuyệt vời tại đây!
            </div>
        </div>
        <div class="address-list row collapseBlockJS">
            <div class="address-item col col-6 collapseItem active" data-aos="fade-up">
                <div class="address-box">
                    <div class="address-box-head collapseHead">
                        <h4 class="sub-tittle txt-upper">CINESTAR HUẾ</h4><i class="fa-solid fa-angle-down icon"></i>
                    </div>
                    <ul class="list collapseBody">
                        <li class="item"><a class="link" href="https://maps.app.goo.gl/TU3fyNWzC36uWHvY6"
                                target="_blank"><span class="ic"> <img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                        alt=""></span><span class="txt">25 Hai Bà Trưng, Phường
                                    Vĩnh Ninh, TP.Huế</span></a></li>

                        <li class="item">
                            <a class="link" target="_blank" href="https://www.facebook.com/CinestarHue"><span
                                    class="ic"><img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                        alt=""></span><span class="txt">https://www.facebook.com/CinestarHue</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="address-item col col-6 collapseItem" data-aos="fade-up">
                <div class="address-box">
                    <div class="address-box-head collapseHead">
                        <h4 class="sub-tittle txt-upper">CINESTAR MỸ THO</h4><i class="fa-solid fa-angle-down icon"></i>
                    </div>
                    <ul class="list collapseBody">
                        <li class="item"><a class="link" href="https://maps.app.goo.gl/yzmcyxYB8FJRqY2J8"
                                target="_blank"><span class="ic"> <img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                        alt=""></span><span class="txt">52 Đinh Bộ Lĩnh, Phường 3, Thành phố
                                    Mỹ Tho</span></a></li>

                        <li class="item">
                            <a class="link" target="_blank" href="https://www.facebook.com/CinestarMyTho"><span
                                    class="ic"><img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                        alt=""></span><span
                                    class="txt">https://www.facebook.com/CinestarMyTho</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="address-item col col-6 collapseItem" data-aos="fade-up">
                <div class="address-box">
                    <div class="address-box-head collapseHead">
                        <h4 class="sub-tittle txt-upper">CINESTAR ĐÀ LẠT</h4><i class="fa-solid fa-angle-down icon"></i>
                    </div>
                    <ul class="list collapseBody">
                        <li class="item">
                            <a class="link" href="https://maps.app.goo.gl/ac87TGs9pcoREvQVA" target="_blank"><span
                                    class="ic"> <img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                        alt=""></span><span class="txt">Quảng trường Lâm Viên,
                                    Thành phố Đà Lạt</span></a>
                        </li>
                        <li class="item">
                            <a class="link" target="_blank" href="https://www.facebook.com/CinestarDaLat"><span
                                    class="ic"><img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                        alt=""></span><span
                                    class="txt">https://www.facebook.com/CinestarDaLat</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="address-item col col-6 collapseItem" data-aos="fade-up">
                <div class="address-box">
                    <div class="address-box-head collapseHead">
                        <h4 class="sub-tittle txt-upper">CINESTAR KIÊN GIANG</h4><i
                            class="fa-solid fa-angle-down icon"></i>
                    </div>
                    <ul class="list collapseBody">
                        <li class="item">
                            <a class="link" href="https://maps.app.goo.gl/GGS6svQTco68Nfy89" target="_blank"><span
                                    class="ic"> <img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                        alt=""></span><span class="txt">TTTM Rạch Sỏi, Phường Rạch
                                    Sỏi, TP. Rạch Giá</span></a>
                        </li>
                        <li class="item">
                            <a class="link" target="_blank" href="https://www.facebook.com/CinestarKienGiang"><span
                                    class="ic"><img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                        alt=""></span><span
                                    class="txt">https://www.facebook.com/CinestarKienGiang</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="address-item col col-6 collapseItem" data-aos="fade-up">
                <div class="address-box">
                    <div class="address-box-head collapseHead">
                        <h4 class="sub-tittle txt-upper">TÂY NINH</h4><i class="fa-solid fa-angle-down icon"></i>
                    </div>
                    <ul class="list collapseBody">
                        <li class="item"><a class="link" href="https://maps.app.goo.gl/3ns17DJxfGe9NjuX9"
                                target="_blank"><span class="ic"> <img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                        alt=""></span><span class="txt">TTC Plaza Tây Ninh, 217 - 219 đường
                                    30/4, phường 2, Tây Ninh</span></a></li>

                        <li class="item">
                            <a class="link" target="_blank" href="https://www.facebook.com/CKidzoneTayNinh"><span
                                    class="ic"><img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                        alt=""></span><span
                                    class="txt">https://www.facebook.com/CKidzoneTayNinh</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
