@page "/opera"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Opera";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Models.Main.User

<link rel="stylesheet" href="~/css/allentertainment.css" />
<div class="cinestar-system-detail-wr opera-house-wr txt-center mg-auto">
    <div class="bg" data-aos="fade-up"><img
            src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/opera/opera-banner.png" alt="">
        <span class="logo">
            <img srcset="https://api-website.cinestar.com.vn/media/.renditions/wysiwyg/CMSPage/Coffee/logo-cinestar.png"
                alt="">
        </span>
    </div>
    <div class="content" data-aos="fade-up">
        <h2 class="heading">OPERA HOUSE</h2>
        <p class="text">Chứng kiến sự hùng vĩ ở trung tâm thành phố</p>
        <p class="text">Trải nghiệm những buổi biểu diễn nghệ thuật đẳng cấp tại Nhà Hát Lớn Đà Lạt mang tính biểu
            tượng, đang ẩn mình trong kiệt tác kiến trúc Tòa nhà Hoa Hướng Dương tại Quảng trường Lâm Viên.</p>
        <p class="text">Những sự kiện khó quên: Chứng kiến các buổi hòa nhạc, vở kịch, cuộc thi sắc đẹp, dạ tiệc và các
            tác phẩm hoành tráng trong không gian tuyệt đẹp.</p>
        <p class="text">Công nghệ hiện đại: Đắm mình trong hệ thống âm thanh và ánh sáng chuyên nghiệp nâng tầm mọi màn
            trình diễn.</p>
        <p class="text">Vị trí đắc địa và thuận tiện ngay trung tâm Đà Lạt, tăng thêm trải nghiệm khó quên.</p>
        <p class="text">Nhà Hát Lớn Đà Lạt - Nơi hội tụ những tuyệt tác hiện đại.</p>
    </div>
    <center>
        <div class="address-list row collapseBlockJS" ; style="margin-left: 360px;">
            <div class="address-item col col-8 collapseItem active" data-aos="fade-up">
                <div class="address-box">
                    <div class="address-box-head collapseHead">
                        <h4 class="sub-tittle txt-upper">ĐÀ LẠT</h4><i class="fa-solid fa-angle-down icon"></i>
                    </div>
                    <ul class="list collapseBody">
                        <li class="item">
                            <a class="link" href="https://maps.app.goo.gl/ac87TGs9pcoREvQVA" target="_blank"><span
                                    class="ic"> <img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-branch-map.svg"
                                        alt=""></span><span class="txt">Quảng trường Lâm Viên,
                                    Thành phố Đà Lạt</span></a>
                        </li>
                        <li class="item">
                            <a class="link" target="_blank" href="https://www.facebook.com/CinestarDaLat"><span
                                    class="ic"><img
                                        src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Icon/ic-facebook.svg"
                                        alt=""></span><span
                                    class="txt">https://www.facebook.com/CinestarDaLat</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </center>
</div>