@page "/admin/genre/add"
@{
   Layout = "_AdminLayout";
   ViewData["Title"] = "Add Genre";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Genre.AddGenreModel

@* <div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1 value="">Add Genre</h1>
<a href="/admin/genre">Genres</a>

<form action="" method="post" enctype="multipart/form-data" class="text-dark flex flex-col items-center gap-3">
<input class="w-full max-w-[500px] px-2" required type="text" name="Title" placeholder="Title..." autofocus>

<button class="bg-white px-2 py-1">
Submit
</button>
</form>
</div> *@
<div class="p-21">
   <div class="p-21 rounded-lg shadow-lg bg-white">
      <div class="flex w-full">
         <div class="bg-white text-black border border-black w-full p-5 rounded-lg shadow-lg">
            <div class="w-full mx-auto">
               <div class="flex w-full justify-between items-center">
                  <div
                     class="flex gap-2 items-center cursor-pointer border border-black rounded px-2 py-1 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                           d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
                           clip-rule="evenodd" />
                     </svg>
                     <a href="/Admin/Genre"><span class="text-black">Quay lại</span></a>
                  </div>
               </div>
            </div>

            <div class="text-center w-full mx-auto py-8 px-8 rounded-lg text-white bg-purple-800 mt-4">
               <h1 class="text-2xl font-bold mb-4">THÊM THỂ LOẠI PHIM</h1>

               <form method="post" class="mt-4 text-dark flex flex-col items-center gap-3">
                  <input
                     class="w-full max-w-[500px] px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500"
                     required type="text" name="Title" placeholder="Enter genre title..." autofocus>

                  <button type="submit"
                     class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                     Submit
                  </button>
               </form>
            </div>

         </div>
      </div>
   </div>
</div>
