@page "/admin/ticket"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin - Ticket";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Ticket.TicketModel
@*
<div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1>Tickets (@Model.Tickets.Count())</h1>
<a href="/Admin">Admin</a>

<div class="flex flex-col gap-4 text-left">
@foreach (var ticket in Model.Tickets)
{
<div class="flex gap-3">
<div class="flex gap-2">
</div>

<form method="post">
<input type="hidden" name="Id" value="@ticket.Id" />
<button asp-page-handler="Delete" style="color: red">Delete</button>
</form>
</div>
}
</div>
</div> *@
<div class="flex flex-col lg:flex-row h-auto lg:h-screen">
    <div class="w-full bg-white">
        <div class="mt-5 p-2">
            <div class="flex">
                <div class="bg-white text-black border border-black w-full p-5 rounded-lg shadow-lg">
                    <div class="w-full mx-auto">
                        <div class="flex w-full justify-between items-center">
                            <div
                                class="flex gap-2 items-center cursor-pointer border border-black rounded px-2 py-1 hover:bg-gray-200">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="text-black">Quay lại</span>
                            </div>

                        </div>
                    </div>
                    <div class="max-w-md mx-auto my-8">
                        <form class="bg-white rounded px-8 pt-6 pb-8 mb-4">
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="movieSelect">
                                    Chọn phim
                                </label>
                                <div class="relative">
                                    <select
                                        class="block appearance-none w-full bg-white border border-gray-400 text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="movieSelect">
                                        <option>Phim A</option>
                                        <option>Phim B</option>
                                        <option>Phim C</option>
                                        <!-- Thêm các tùy chọn phim khác -->
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 11.293a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414l-3.5-3.5a1 1 0 00-1.414 0l-3.5 3.5A1 1 0 112.88 12.88l4-4a1 1 0 011.414 0zM6 6h8a1 1 0 010 2H6a1 1 0 010-2z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="showTimeSelect">
                                    Chọn giờ chiếu
                                </label>
                                <div class="relative">
                                    <select
                                        class="block appearance-none w-full bg-white border border-gray-400 text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="showTimeSelect">
                                        <option>9:00 AM</option>
                                        <option>12:00 PM</option>
                                        <option>3:00 PM</option>
                                        <!-- Thêm các tùy chọn giờ chiếu khác -->
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 11.293a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414l-3.5-3.5a1 1 0 00-1.414 0l-3.5 3.5A1 1 0 112.88 12.88l4-4a1 1 0 011.414 0zM6 6h8a1 1 0 010 2H6a1 1 0 010-2z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="showTimeSelect">
                                    Chọn rạp
                                </label>
                                <div class="relative">
                                    <select
                                        class="block appearance-none w-full bg-white border border-gray-400 text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="showTimeSelect">
                                        <option>Cinestar Quốc Khanh</option>
                                        <option>Cinestar Hai Bà Chưng</option>
                                        <option>Cinestar Bình Dương</option>
                                        <!-- Thêm các tùy chọn giờ chiếu khác -->
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 11.293a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414l-3.5-3.5a1 1 0 00-1.414 0l-3.5 3.5A1 1 0 112.88 12.88l4-4a1 1 0 011.414 0zM6 6h8a1 1 0 010 2H6a1 1 0 010-2z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 flex items-center gap-5">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="seatNumber">
                                    Ghế
                                </label>
                                <div class="flex">
                                    <select
                                        class="block appearance-none w-24 bg-white border border-gray-400 text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="seatNumber">
                                        <option>A1</option>
                                        <option>A2</option>
                                        <option>A3</option>
                                        <option>A4</option>
                                        <option>A5</option>
                                        <option>A6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="customerName">
                                    Tên khách hàng
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="customerName" type="text" placeholder="Nhập tên khách hàng">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="contactNumber">
                                    Số điện thoại
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="contactNumber" type="tel" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="flex items-center justify-end">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="button">
                                    Đặt vé
                                </button>
                            </div>
                        </form>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#35355c] w-full lg:w-[25%] h-auto lg:h-screen flex flex-col items-center">
        <div class="w-1/2 p-1 mx-auto">
            <img class="w-full" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
        </div>
        <div class="w-3/4  mx-auto">
            <ul class=" list-none p-0">
                <li class="p-4"><a href="" class="text-white">Tổng quan</a></li>
                <li class="p-4"><a href="/Admin/movie" class="text-white">Quản lý phim</a></li>
                <li class="p-4"><a href="/Admin/genre" class="text-white">Quản lý thể loại </a></li>
                <li class="p-4"><a href="/admin/screening" class="text-white">Quản lý xuất chiếu</a></li>
                <li class="p-4"><a href="/Admin/ticket" class="text-white">Quản lý vé</a></li>
                <li class="p-4"><a href="/admin/seat/{roomId}" class="text-white">Quản lý chổ ngồi</a></li>
                <li class="p-4"><a href="/admin/room/{theaterId}" class="text-white">Quản lý phòng chiếu</a></li>
                <li class="p-4"><a href="/Admin/user" class="text-white">Quản lý khách hàng</a></li>
                <li class="p-4"><a href="/Admin/theater" class="text-white">Quản lý rạp phim</a></li>
            </ul>
        </div>
    </div>
</div>
