@page "/"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Home.Index.IndexModel

<div class="min-h-screen pt-16 px-21 pb-28 bg-gradient-to-b from-[#0f172a] to-[#283247]">
    <div class="text-white flex items-center justify-center">
        <div class="carousel-container relative w-full max-w-4xl overflow-hidden">
            <div id="carouselExample"
                class="carousel-inner relative flex transition-transform ease-in-out duration-500">
                <div class="carousel-item active flex-shrink-0 w-full relative">
                    <img class="w-full"
                        src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2FMageINIC%2Fbannerslider%2F20_-coke.jpg&w=1920&q=75"
                        alt="...">
                    <div
                        class="Book-your-ticket-now absolute bottom-5 right-5 transform -translate-y-1/2 text-black bg-yellow-500 cursor-pointer p-1.5 px-20 text-sm hidden md:block">
                        Đặt vé ngay
                    </div>
                </div>
                <div class="carousel-item flex-shrink-0 w-full relative">
                    <img class="w-full"
                        src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2FMageINIC%2Fbannerslider%2F1215x365_1_.jpg&w=1920&q=75"
                        alt="...">
                    <div
                        class="Book-your-ticket-now absolute bottom-3 right-5 transform -translate-y-1/2 text-black bg-yellow-500 cursor-pointer p-1.5 px-12 text-sm hidden md:block">
                        Đặt vé ngay
                    </div>
                </div>
                <div class="carousel-item flex-shrink-0 w-full relative">
                    <img class="w-full"
                        src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2FMageINIC%2Fbannerslider%2F1215x365_5_.jpeg&w=1920&q=75"
                        alt="...">
                    <div
                        class="Book-your-ticket-now absolute bottom-3 right-5 transform -translate-y-1/2 text-black bg-yellow-500 cursor-pointer p-1.5 px-12 text-sm hidden md:block">
                        Đặt vé ngay
                    </div>
                </div>
                <div class="carousel-item flex-shrink-0 w-full relative">
                    <img class="w-full"
                        src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2FMageINIC%2Fbannerslider%2F1215x365_4_.jpg&w=1920&q=75"
                        alt="...">
                    <div
                        class="Book-your-ticket-now absolute bottom-3 right-5 transform -translate-y-1/2 text-black bg-yellow-500 cursor-pointer p-1.5 px-12 text-sm hidden md:block">
                        Đặt vé ngay
                    </div>
                </div>
            </div>
            <!-- Nút điều khiển previous -->
            <button id="prevButton"
                class="carousel-control-prev absolute top-1/2 mt-5 -translate-y-1/2  text-white z-10"
                style="left:10%;z-index:3">&#10094;</button>
            <!-- Nút điều khiển next -->
            <button id="nextButton" class="carousel-control-next absolute top-1/2 mt-5 -translate-y-1/2 text-white z-10"
                style="right:10%;z-index:3">&#10095;</button>
        </div>
    </div>

    @* Book tickets quickly *@
    @* <div class="book-ticket-quickly">
    <div class="book-ticket-quickly-sub ">
    <div class="book-ticket-title">
    <span>ĐẶT VÉ NHANH</span>
    </div>
    <div class="book-ticket-choose">
    <div class="book-ticket-choose-cinema" onclick="toggleNav()">
    <span> 1. Chọn Rạp</span>
    <div class="book-ticket-choose-cinema-nav">
    <ul>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Quốc
    Thanh</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Hai
    Bà
    Trưng</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Sinh
    Viên</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar
    Huế</a>
    </li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Đà
    Lạt</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Lâm
    Đồng</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Mỹ
    Tho</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">Cinestar Kiên
    Giang</a></li>
    </ul>
    </div>
    </div>
    <div class="book-ticket-choose-movie">
    <span>2. Chọn Phim</span>
    <div class="book-ticket-choose-movie-nav">
    <ul>
    <li><a href="" style="color:#000;text-decoration:none;">DORAEMON LT
    (P):NOBITA VÀ BẢN GIAO HƯỞNG ĐỊA CẦU</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">MÓNG VUỐT
    (T16)</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">NGÔI ĐỀN KÌ
    QUÁI
    (T16)</a></li>
    <li><a href="" style="color:#000;text-decoration:none;">GIA TÀI CỦA
    NGOẠI
    2D PĐ (T13)</a>
    </li>
    <li><a href="" style="color:#000;text-decoration:none;">MÈO BÉO SIÊU
    QUẬY
    2D LT (KT)</a></li>
    </ul>
    </div>
    </div>
    <div class="book-ticket-choose-date">
    <span>3. Chọn Ngày</span>
    <div class="book-ticket-choose-date-nav">
    <ul>
    <li><a href="" style="color:#000;text-decoration:none;">Thứ Năm,
    06/06
    </a></li>

    </div>
    </div>
    <div class="book-ticket-choose-time">
    <span> 4.
    Chọn
    Suất</span>
    <div class="book-ticket-choose-time-nav">
    <ul>
    <li><a href="" style="color:#000;text-decoration:none;">18:00 - 2D
    Standard
    <li><a href="" style="color:#000;text-decoration:none;">18:50 - 2D
    Standard
    <li><a href="" style="color:#000;text-decoration:none;">20:50 - 2D
    Standard
    </a></li>
    <li><a href="" style="color:#000;text-decoration:none;">23:25 - 2D
    Standard
    </a>
    </li>
    </ul>
    </div>
    </div>
    <div class="button-book-ticket">
    <button style="border-radius:10px;width:100%;font-family: Anton, sans-serif;">ĐẶT NGAY</button>
    </div>
    </div>
    </div>
    </div> *@

    @* Showing Movies *@
    <div class="max-w-1200 mx-auto mt-28">
        <h1 class="font-body tracking-wider text-[40px] text-center">Phim Đang Chiếu</h1>

        @await Component.InvokeAsync("ShowingSlider", new { Movies = Model.OnGoingMovies })

        <div class="flex justify-center mt-8">
            <a href='/movie/showing'
                class="relative min-w-[234px] h-[40px] rounded-md px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group border-2 text-highlight border-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#639] after:to-[#36c] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                <span class="uppercase font-body text-sm tracking-widest group-hover:text-light trans-300 z-10">
                    XEM THÊM
                </span>
            </a>
        </div>
    </div>

    @* Upcomming Movies *@
    <div class="max-w-1200 mx-auto mt-28">
        <h1 class="font-body tracking-wider text-[40px] text-center">Phim Sắp Chiếu</h1>

        @await Component.InvokeAsync("UpcomingSlider", new { Movies = Model.UpComingMovies })

        <div class="flex justify-center mt-8">
            <a href='/movie/upcoming'
                class="relative min-w-[234px] h-[40px] rounded-md px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group border-2 text-highlight border-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#639] after:to-[#36c] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                <span class="uppercase font-body text-sm tracking-widest group-hover:text-light trans-300 z-10">
                    XEM THÊM
                </span>
            </a>
        </div>
    </div>


    @* discount *@
    @* member offers *@
    <div class="mt-28 -mx-21 pt-[90px] pb-[100px] px-21"
        style="background: url(/images/bg-cfriends.jpeg); background-repeat: no-repeat; background-position: center; background-size: cover;">
        <div class="max-w-1200 mx-auto">
            <h1 class="font-body tracking-wider text-[40px] text-center">CHƯƠNG TRÌNH THÀNH VIÊN</h1>

            <div class="flex gap-8 mt-12">
                <div class="flex flex-col w-1/2">
                    <div class="aspect-[2/1] rounded-lg shadow-lg overflow-hidden shadow-highlight">
                        <img class="w-full h-full object-cover"
                            src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Member/Desktop519x282_CMember.webp"
                            alt="card">
                    </div>

                    <h2 class="font-body tracking-wider text-[36px] mt-5">THÀNH VIÊN C'FRIEND</h2>

                    <p class="mt-4">Thẻ C'Friend nhiều ưu đãi cho thành viên mới</p>

                    <div class="mt-3">
                        <button
                            class="relative w-[236px] h-[40px] rounded-md text-dark px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group bg-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#639] after:to-[#36c] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                            <span
                                class="font-body text-sm tracking-widest group-hover:text-light trans-300 z-10 uppercase">
                                Tìm hiểu ngay
                            </span>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col w-1/2">
                    <div class="aspect-[2/1] rounded-lg shadow-lg overflow-hidden shadow-highlight">
                        <img class="w-full h-full object-cover"
                            src="https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Member/c-vip.webp"
                            alt="card">
                    </div>

                    <h2 class="font-body tracking-wider text-[36px] mt-5">THÀNH VIÊN C'VIP</h2>

                    <p class="mt-4">Thẻ VIP CineStar mang đến sự ưu đãi độc quyền</p>

                    <div class="mt-3">
                        <button
                            class="relative w-[236px] h-[40px] rounded-md text-dark px-2.5 flex gap-2.5 overflow-hidden items-center justify-center group bg-highlight after:absolute after:top-0 after:left-0 after:-translate-x-full after:bg-gradient-to-r after:from-[#639] after:to-[#36c] after:w-full after:h-full after:transition-all after:duration-300 hover:after:translate-x-0 group">
                            <span
                                class="font-body text-sm tracking-widest group-hover:text-light trans-300 z-10 uppercase">
                                Tìm hiểu ngay
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* member-offers *@
    @* entertaiment *@

    <div class="Entertainment h-[700px] mt-32 md:flex-col md:items-center md:justify-center md:space-y-10">
        <div class="Entertainment-title text-center ">
            <div class="Entertainment-title-h1">
                <h1 class="font-bold text-3xl ">TẤT CẢ CÁC GIẢI TRÍ</h1>
            </div>
            <div class="Entertainment-title-p">
                <p>
                    Ngoài hệ thống rạp chiếu phim chất lượng cao, Cinestar còn cung cấp cho bạn nhiều loại hình giải
                    trí tuyệt vời khác.
                </p>
            </div>
        </div>
        <div class="Entertainment-img max-w-601px mx-auto w-[75%] mt-5">
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <a href="/kidzone">
                    <li>
                        <img class="w-full" src="https://cinestar.com.vn/assets/images/img-service0.jpg" alt="" />
                    </li>
                </a>
                <a href="/restaurant">
                    <li>
                        <img class="w-full" src="https://cinestar.com.vn/assets/images/img-service3.jpg" alt="" />
                    </li>
                </a>
                <a href="/bowling">
                    <li>
                        <img class="w-full" src="https://cinestar.com.vn/assets/images/img-service1.jpg" alt="" />
                    </li>
                </a>
                <a href="/gym">
                    <li>
                        <img class="w-full" src="https://cinestar.com.vn/assets/images/img-service4.jpg" alt="" />
                    </li>
                </a>
                <a href="/billiard">
                    <li>
                        <img class="w-full" src="https://cinestar.com.vn/assets/images/img-service2.jpg" alt="" />
                    </li>
                </a>
                <a href="/opera">
                    <li>
                        <img class="w-full" src="https://cinestar.com.vn/assets/images/img-service5.jpg" alt="" />
                    </li>
                </a>
            </ul>
        </div>
    </div>

    <div class="Contact mt-10 md:flex md:flex-col md:items-center md:space-y-10">
        <div class="contact-form md:w-1/2">
            <h1 class="text-3xl text-center mb-2">LIÊN HỆ VỚI CHÚNG TÔI</h1>
            <div class="contact-form-email flex items-center mt-4">
                <div class="contact-form-email-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </div>
                <div class="contact-form-text ml-2">marketing.cinestar@gmail.com</div>
            </div>
            <div class="contact-form-phone flex items-center mt-4">
                <div class="contact-form-phone-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                    </svg>
                </div>
                <div class="contact-form-text ml-2">028 7300 8881</div>
            </div>
            <div class="contact-form-address flex items-center mt-4">
                <div class="contact-form-address-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </div>
                <div class="contact-form-text ml-2">135 Hai Bà Trưng, phường Bến Nghé, Quận 1, TP.HCM</div>
            </div>
            <form class="mt-6 flex flex-col gap-2">
                <label for="name">Họ và Tên</label>
                <input type="text" id="name" name="name" placeholder="Nhập họ và tên" required
                    class="px-3 py-1.5 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">

                <label for="email" class="mt-4">Email</label>
                <input type="email" id="email" name="email" placeholder="Nhập email" required
                    class="px-3 py-1.5 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">

                <label for="message" class="mt-4">Thông Tin</label>
                <textarea id="message" name="message" placeholder="Nhập thông tin" rows="4" required
                    class="px-3 py-1.5 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"></textarea>

                <button type="submit" style="font-family: Anton, sans-serif;"
                    class=" bg-blue-500 mt-4 hover:bg-blue-600 text-white py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50">GỬI
                    NGAY</button>
            </form>
        </div>
    </div>
</div>

<script defer>
    const prevButton = document.getElementById('prevButton');
    const nextButton = document.getElementById('nextButton');
    const items = document.querySelectorAll('.carousel-inner .carousel-item');

    let currentIndex = 0;

    function showItem(index) {
        items.forEach((item, i) => {
            item.classList.toggle('active', i === index);
        });
    }

    prevButton.addEventListener('click', () => {
        currentIndex = (currentIndex > 0) ? currentIndex - 1 : items.length - 1;
        showItem(currentIndex);
    });

    nextButton.addEventListener('click', () => {
        currentIndex = (currentIndex < items.length - 1) ? currentIndex + 1 : 0;
        showItem(currentIndex);
    });
    ////
    function toggleNav(selector) {
        const nav = document.querySelector(selector);
        nav.style.display = nav.style.display === 'none' || nav.style.display === '' ? 'block' : 'none';
    }

    document.querySelector('.book-ticket-choose-cinema').addEventListener('click', function () {
        toggleNav('.book-ticket-choose-cinema-nav');
    });

    document.querySelector('.book-ticket-choose-movie').addEventListener('click', function () {
        toggleNav('.book-ticket-choose-movie-nav');
    });

    document.querySelector('.book-ticket-choose-date').addEventListener('click', function () {
        toggleNav('.book-ticket-choose-date-nav');
    });

    document.querySelector('.book-ticket-choose-time').addEventListener('click', function () {
        toggleNav('.book-ticket-choose-time-nav');
    });

    /////
    // Blograesel
    const arrowRight = document.getElementById("next_right");
    const arrowLeft = document.getElementById("prev_left");
    const blocks = document.getElementById(
        "Slide_Blogcarousel"
    );

    let currentPosition = 0;

    function updateBlockPosition() {
        blocks.style.transform = `translateX(${currentPosition}%)`;
    }

    arrowRight.addEventListener("click", () => {
        if (currentPosition > -50) {
            currentPosition -= 50;
            updateBlockPosition();
        }
    });

    arrowLeft.addEventListener("click", () => {


        if (currentPosition < 0) {
            currentPosition += 50;
            updateBlockPosition();
        }
    });

    function handleResize() {
        if (window.innerWidth <= 990) {
            currentPosition = 0;
        } else {
            currentPosition = 0;
        }

        updateBlockPosition();
    }

    window.addEventListener("load", handleResize);
    window.addEventListener("resize", handleResize);
    ////
    // Carousel cho các bộ phim sắp tới
    const arrowRighttwo = document.getElementById("next_right_two");
    const arrowLefttwo = document.getElementById("prev_left_two");
    const movieList = document.getElementById("movieList");

    let currentPosition1 = 0;

    function updateMovieListPosition() {
        movieList.style.transform = `translateX(${currentPosition1}%)`;
    }

    arrowRighttwo.addEventListener("click", () => {
        if (currentPosition1 > -50) {
            currentPosition1 -= 50;
            updateMovieListPosition();
        }
    });

    arrowLefttwo.addEventListener("click", () => {
        if (currentPosition1 < 0) {
            currentPosition1 += 50;
            updateMovieListPosition();
        }
    });

    function handleResizeMovieList() {
        currentPosition1 = 0;
        updateMovieListPosition();
    }

    window.addEventListener("load", handleResizeMovieList);
    window.addEventListener("resize", handleResizeMovieList);
    ////

    // Carousel cho các bộ phim sắp tới
    const arrowRightthree = document.getElementById("next_right_three");
    const arrowLeftthree = document.getElementById("prev_left_three");
    const Discontlist = document.getElementById("discontlist");

    let currentPosition2 = 0;

    function updateDiscontlistPosition() {
        Discontlist.style.transform = `translateX(${currentPosition2}%)`;
    }

    arrowRightthree.addEventListener("click", () => {
        if (currentPosition2 > -35) {
            currentPosition2 -= 35;
            updateDiscontlistPosition();
        }
    });

    arrowLeftthree.addEventListener("click", () => {
        if (currentPosition2 < 0) {
            currentPosition2 += 35;
            updateDiscontlistPosition();
        }
    });

    function handleResizeDiscontlist() {
        currentPosition2 = 0;
        updateDiscontlistPosition();
    }

    window.addEventListener("load", handleResizeDiscontlist);
    window.addEventListener("resize", handleResizeDiscontlist);
</script>
